#listing {

    ul.ks-cboxtags {
        list-style: none;
        padding: 20px 0;
        padding-top: 5px;
    }
    ul.ks-cboxtags li{
      display: inline;
    }
    ul.ks-cboxtags li label{
        display: inline-block;
        background-color: rgba(255, 255, 255, .9);
        border: 2px solid rgba(139, 139, 139, .3);
        white-space: nowrap;
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        -webkit-tap-highlight-color: transparent;
        margin: .35rem;
        padding: .3rem 1.5rem;
        color: #7f7f7f;
        border: 1px solid #e6e6e6;
        font-size: 11px;
        text-align: center;
        border-radius: 20px;
        transition: all .3 ease-in-out;
        transition: all .2s;
        cursor: pointer;
    }
    ul.ks-cboxtags li input[type="checkbox"]:checked + label {
        border: 1px solid #1bdbf8;
        background-color: #12bbd4;
        color: #fff;
        transition: all .2s;
    }
    ul.ks-cboxtags li input[type="checkbox"] {
      display: absolute;
    }
    ul.ks-cboxtags li input[type="checkbox"] {
      position: absolute;
      opacity: 0;
    }
    ul.ks-cboxtags li input[type="checkbox"]:focus + label {
      border: 2px solid #e9a1ff;
    }
    .radio-group {
                
        display: inline-block;
        overflow: hidden;
        font-size: 0;        
        width: 100%;
    
        &.var {
    
            label {
                width: 44%;
                margin: 2%;            
            }
        }    
    
        input[type=radio] {
            position: absolute;
            visibility: hidden;
            display: none;
        }
          
        label {
            cursor: pointer;
            display: inline-block;
            margin: .35rem;
            padding: .3rem 1.5rem;
            color: #7f7f7f;
            border: 1px solid #e6e6e6;
            font-size: 11px;
            text-align: center;
            border-radius: 20px;
            transition: all .3 ease-in-out;
    
            &:hover {
                color: #7D4AF6;
                border-color: #7D4AF6;
            }
        }
    
        input[type=radio]:checked + label{
            color: #7D4AF6;
            border-color: #7D4AF6;
        }
    
        &.out {
    
            label {
                border-radius: 0;
                width: 33.3%;
                margin-left: 0;
                margin-right: 0;
                font-size: 12px;
                color: #000;
            }
    
            &.two {
                
                label {
                    width: 50%;
                }
            }
    
            input[type=radio]:checked + label{
                color: #7D4AF6;
                border-bottom: 2px solid #7D4AF6;
            }
        }
    
        &.prof {
    
            label {
                border-radius: 0;
    
                &:hover {
                    border-color: #7D4AF6;
                    background: #7D4AF6;
                    color: #fff;
                }
            }
    
            input[type=radio]:checked + label{
                border-color: #7D4AF6;
                background: #7D4AF6;
                color: #fff;
            }
        }
    
        &.book {
            font-size: 0;
         
            label {
                width: 49%;
                margin: 0;
                border-radius: 4px;
                padding: 10px 0;
    
                i {
                    font-size: 1rem;
                }
    
                p {
                    font-size: 14px;
                    font-weight: 300;
                }
    
                &.left {
                    margin-right: 2%;
                }
    
                &:hover {
                    border-color: #7D4AF6;
                    background: #7D4AF6;
                    
                    * {
                        color: #fff;
                    }
                }
            }
    
            input[type=radio][disabled] + label {
                opacity: .5;
                cursor: not-allowed;
            }
    
            input[type=radio]:checked + label{
                border-color: #7D4AF6;
                background: #7D4AF6;
                
                * {
                    color: #fff;
                }
            }
        }
    }
    
    .form-control {
        border: 0;
        border-radius: 0;
        outline: 0;
        box-shadow: none;
        border-bottom: 2px solid rgba($color: #000000, $alpha: .2);
        margin-bottom: 1rem;
        background: #fff !important;
        transition: all .2s ease-in-out;
    
        &:active, &:focus {
            border-radius: 0;
            outline: 0;
            box-shadow: none;
        }
    
        &:hover {
            border-color: rgba($color:#7D4AF6, $alpha: .5);
        }
    }
    
    select.form-control {
        height: 40px;
        line-height: 40px;
        padding: 0 1rem;
        border-radius: 0;
        appearance: none;
    }
    
    .form-group {
        margin-bottom: 2rem;
    }
    
    #pac-input {
        margin-left: 0 !important;
        margin-bottom: 2rem !important;
    }
    
    textarea {
        resize: none;
        height: 120px;
    }
    
    .pp_flat_btn {
        padding: .75rem 1.65rem !important;
        line-height: 1.2 !important;
        color: #fff;
        background: #7D4AF6;
        border-radius: 4px;
        border: 0;
    
        &:hover {
            background: rgba($color: #7D4AF6, $alpha: .5);
        }
    }
.img-uploader {
    
    .imagePreview {
        width: 100%;
        height: 180px;
        display: inline-block;
        background:url(../images/upload-placeholder.jpg);
        background-position: center center;
        background-color:#EBEBEB;
        background-size: contain;
        background-repeat: no-repeat;
        box-shadow: 0px 0px 3px 1px rgba(0, 0, 0, 0.2);

        &.while-loading {
            opacity: 0.2;
        }
    }

    .btn-primary
    {
      display:block;
      border-radius:0px;
      font-size: 12px;
      box-shadow: 0px 0px 3px 1px rgba(0, 0, 0, 0.2)
    }

    .imgUp
    {
        position: relative;
        margin:15px 0px;

    }
	
	#images_list{
		img{
			max-height: 100%;
			max-width: 100%;
		}
	}
    .del
    {
      position:absolute;
      top:0px;
      right:15px;
      width:30px;
      height:30px;
      text-align:center;
      line-height:30px;
      background-color:rgba(255,255,255,0.6);
      cursor:pointer;
    }

    .imgAdd
    {
      width:30px;
      height:30px;
      border-radius:50%;
      background-color:#4bd7ef;
      color:#fff;
      box-shadow:0px 0px 2px 1px rgba(0,0,0,0.2);
      text-align:center;
      line-height:30px;
      margin-top:0px;
      cursor:pointer;
      font-size:15px;
    }

}	
}