#listing ul.ks-cboxtags {
  list-style: none;
  padding: 20px 0;
  padding-top: 5px; }
#listing ul.ks-cboxtags li {
  display: inline; }
#listing ul.ks-cboxtags li label {
  display: inline-block;
  background-color: rgba(255, 255, 255, 0.9);
  border: 2px solid rgba(139, 139, 139, 0.3);
  white-space: nowrap;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
  margin: .35rem;
  padding: .3rem 1.5rem;
  color: #7f7f7f;
  border: 1px solid #e6e6e6;
  font-size: 11px;
  text-align: center;
  border-radius: 20px;
  transition: all .3 ease-in-out;
  transition: all .2s;
  cursor: pointer; }
#listing ul.ks-cboxtags li input[type="checkbox"]:checked + label {
  border: 1px solid #1bdbf8;
  background-color: #12bbd4;
  color: #fff;
  transition: all .2s; }
#listing ul.ks-cboxtags li input[type="checkbox"] {
  display: absolute; }
#listing ul.ks-cboxtags li input[type="checkbox"] {
  position: absolute;
  opacity: 0; }
#listing ul.ks-cboxtags li input[type="checkbox"]:focus + label {
  border: 2px solid #e9a1ff; }
#listing .radio-group {
  display: inline-block;
  overflow: hidden;
  font-size: 0;
  width: 100%; }
  #listing .radio-group.var label {
    width: 44%;
    margin: 2%; }
  #listing .radio-group input[type=radio] {
    position: absolute;
    visibility: hidden;
    display: none; }
  #listing .radio-group label {
    cursor: pointer;
    display: inline-block;
    margin: .35rem;
    padding: .3rem 1.5rem;
    color: #7f7f7f;
    border: 1px solid #e6e6e6;
    font-size: 11px;
    text-align: center;
    border-radius: 20px;
    transition: all .3 ease-in-out; }
    #listing .radio-group label:hover {
      color: #7D4AF6;
      border-color: #7D4AF6; }
  #listing .radio-group input[type=radio]:checked + label {
    color: #7D4AF6;
    border-color: #7D4AF6; }
  #listing .radio-group.out label {
    border-radius: 0;
    width: 33.3%;
    margin-left: 0;
    margin-right: 0;
    font-size: 12px;
    color: #000; }
  #listing .radio-group.out.two label {
    width: 50%; }
  #listing .radio-group.out input[type=radio]:checked + label {
    color: #7D4AF6;
    border-bottom: 2px solid #7D4AF6; }
  #listing .radio-group.prof label {
    border-radius: 0; }
    #listing .radio-group.prof label:hover {
      border-color: #7D4AF6;
      background: #7D4AF6;
      color: #fff; }
  #listing .radio-group.prof input[type=radio]:checked + label {
    border-color: #7D4AF6;
    background: #7D4AF6;
    color: #fff; }
  #listing .radio-group.book {
    font-size: 0; }
    #listing .radio-group.book label {
      width: 49%;
      margin: 0;
      border-radius: 4px;
      padding: 10px 0; }
      #listing .radio-group.book label i {
        font-size: 1rem; }
      #listing .radio-group.book label p {
        font-size: 14px;
        font-weight: 300; }
      #listing .radio-group.book label.left {
        margin-right: 2%; }
      #listing .radio-group.book label:hover {
        border-color: #7D4AF6;
        background: #7D4AF6; }
        #listing .radio-group.book label:hover * {
          color: #fff; }
    #listing .radio-group.book input[type=radio][disabled] + label {
      opacity: .5;
      cursor: not-allowed; }
    #listing .radio-group.book input[type=radio]:checked + label {
      border-color: #7D4AF6;
      background: #7D4AF6; }
      #listing .radio-group.book input[type=radio]:checked + label * {
        color: #fff; }
#listing .form-control {
  border: 0;
  border-radius: 0;
  outline: 0;
  box-shadow: none;
  border-bottom: 2px solid rgba(0, 0, 0, 0.2);
  margin-bottom: 1rem;
  background: #fff !important;
  transition: all .2s ease-in-out; }
  #listing .form-control:active, #listing .form-control:focus {
    border-radius: 0;
    outline: 0;
    box-shadow: none; }
  #listing .form-control:hover {
    border-color: rgba(125, 74, 246, 0.5); }
#listing select.form-control {
  height: 40px;
  line-height: 40px;
  padding: 0 1rem;
  border-radius: 0;
  appearance: none; }
#listing .form-group {
  margin-bottom: 2rem; }
#listing #pac-input {
  margin-left: 0 !important;
  margin-bottom: 2rem !important; }
#listing textarea {
  resize: none;
  height: 120px; }
#listing .pp_flat_btn {
  padding: .75rem 1.65rem !important;
  line-height: 1.2 !important;
  color: #fff;
  background: #7D4AF6;
  border-radius: 4px;
  border: 0; }
  #listing .pp_flat_btn:hover {
    background: rgba(125, 74, 246, 0.5); }
#listing .img-uploader .imagePreview {
  width: 100%;
  height: 180px;
  display: inline-block;
  background: url(../images/upload-placeholder.jpg);
  background-position: center center;
  background-color: #EBEBEB;
  background-size: contain;
  background-repeat: no-repeat;
  box-shadow: 0px 0px 3px 1px rgba(0, 0, 0, 0.2); }
  #listing .img-uploader .imagePreview.while-loading {
    opacity: 0.2; }
#listing .img-uploader .btn-primary {
  display: block;
  border-radius: 0px;
  font-size: 12px;
  box-shadow: 0px 0px 3px 1px rgba(0, 0, 0, 0.2); }
#listing .img-uploader .imgUp {
  position: relative;
  margin: 15px 0px; }
#listing .img-uploader #images_list img {
  max-height: 100%;
  max-width: 100%; }
#listing .img-uploader .del {
  position: absolute;
  top: 0px;
  right: 15px;
  width: 30px;
  height: 30px;
  text-align: center;
  line-height: 30px;
  background-color: rgba(255, 255, 255, 0.6);
  cursor: pointer; }
#listing .img-uploader .imgAdd {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #4bd7ef;
  color: #fff;
  box-shadow: 0px 0px 2px 1px rgba(0, 0, 0, 0.2);
  text-align: center;
  line-height: 30px;
  margin-top: 0px;
  cursor: pointer;
  font-size: 15px; }
