
	<div class="container">
		<div class="page-not-found">

			<h3>{{LANG account_not_activated}}</h3>
			<p>{{LANG click_on_activation_link}}</p>
			<div><a href="<?php echo($config['site_url'].'/signout') ?>">{{LANG logout}}</a></div>

		</div>
	</div>
<div id="myModal_otp" class="modal fade in" role="dialog">
  <div class="modal-dialog modal-sm">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Confirm Email</h4>
      </div>
      <div class="modal-body">
		  <div class="col-lg-12 signup-alert_modal" style="margin: 10px;"></div>
        <p>Please enter the OTP you have received on your email.</p>
		  <div class="row">
		 <div class="col-md-6">
		<form id="otp_form" onSubmit="submitotp();return false;">
			<div class="form-group">
		  <input class="form-control" type="text" id="otp" required placeholder="Please enter the OTP received">
			</div>	
		<div class="form-group">	
		 <button type="submit" class="btn btn-info">Submit</button>
		<button type="button" class="btn btn-info" data-dismiss="modal" style="margin-left: 10px;">Cancel</button>	
		</div> 	
		</form>	
		</div>  
      </div>
      </div>
<!--
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
      </div>
-->
    </div>

  </div>
</div>
<script>$('#myModal_otp').modal('show');
function submitotp(){	
$.post(link('startup/verify'),{otp:$('#otp').val()}, function(data, textStatus, xhr) {
	if(data.status=="200"){
	window.location.href = 	site_url('');
	}else{
	$(".signup-alert_modal").html($('<div>',{
							class: 'alert alert-danger',
							text: "OTP not correct"
						}));	
	}	
	});	
}	
</script>