<div class="light__box" data-post-id="<?php echo($context['post_data']['post_id']) ?>">
  <div class="lightbox-ol"></div>
  <div class="lightbox-outer">
    <div class="lightbox-inner">
      <input type="text" value="<?php echo(pid2url($context['post_data']['post_id'])) ?>" id="copyLink" class="copyPostlink" tabindex='-1' aria-hidden='true'>
      <div class="pp_mobi_light_control">
        <?php if ($context['prev']) { ?>
        <a href="javascript:void(0);" class="light__box-slide-controls prev" onclick="lightbox('<?php echo($context['prev']) ?>','<?php echo($context['page']) ?>');"> <span>
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-arrow-left">
          <line x1="19" y1="12" x2="5" y2="12"></line>
          <polyline points="12 19 5 12 12 5"></polyline>
        </svg>
        </span> </a>
        <?php } ?>
        <?php if ($context['next']) { ?>
        <a href="javascript:void(0);" class="light__box-slide-controls next" onclick="lightbox('<?php echo($context['page']) ?>','<?php echo($context['prev']) ?>');"> <span>
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-arrow-right">
          <line x1="5" y1="12" x2="19" y2="12"></line>
          <polyline points="12 5 19 12 12 19"></polyline>
        </svg>
        </span> </a>
        <?php } ?>
        <div class="pp_light_close pull-right" onclick="$('.light__box').remove();window.history.pushState('', '', site_url( 'properties' ) );">
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-x">
            <line x1="18" y1="6" x2="6" y2="18"></line>
            <line x1="6" y1="6" x2="18" y2="18"></line>
          </svg>
        </div>
      </div>
      <div class="post-data">
        <div class="posts-media-renderer" style="position: relative;">
          <?php if ($context['type'] == 'image') { ?>
          <div id="post-data-cr" class="carousel slide carousel-fade" data-ride="carousel" data-interval="false">
            <div class="carousel-inner">
              <?php foreach ($context['post_data']['images'] as $k => $medai_file) { ?>
              <div class="item <?php if($k == 0){ ?> active<?php } ?>"> <img src="<?php echo(media($medai_file['file'])) ?>" alt="Image" class="img-res" /> </div>
              <?php } ?>
            </div>
            <?php if (count($context['post_data']['images']) > 1) { ?>
            <a class="carousel-control-prev cr-controls" href="#post-data-cr" role="button" data-slide="prev"> <span class="carousel-control-prev-icon" aria-hidden="true">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-left">
              <polyline points="15 18 9 12 15 6"></polyline>
            </svg>
            </span> </a> <a class="carousel-control-next cr-controls" href="#post-data-cr" role="button" data-slide="next"> <span class="carousel-control-next-icon" aria-hidden="true">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-right">
              <polyline points="9 18 15 12 9 6"></polyline>
            </svg>
            </span> </a>
            <?php } ?>
          </div>
          <?php } ?>
        </div>
        <div class="posts-votes">
          <div class="posts-votes-inner">
            <div class="heading">
              <div class="avatar"> <img src="<?php echo(media($context['post_data']['avatar'])) ?>" class="img-circle"> </div>
              <div class="uname">
                <h6><a href="<?php echo(un2url($context['post_data']['username'])) ?>"  data-ajax="ajax_loading.php?app=profile&apph=profile&uname=<?php echo($context['post_data']['username']) ?>"><?php echo($context['post_data']['username']) ?></a>
                  <?php if ($context['post_data']['is_verified'] > 0) { ?>
                  <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="#00BCD4" class="verified-color feather feather-check-circle">
                    <path d="M23,12L20.56,9.22L20.9,5.54L17.29,4.72L15.4,1.54L12,3L8.6,1.54L6.71,4.72L3.1,5.53L3.44,9.21L1,12L3.44,14.78L3.1,18.47L6.71,19.29L8.6,22.47L12,21L15.4,22.46L17.29,19.28L20.9,18.46L20.56,14.78L23,12M10,17L6,13L7.41,11.59L10,14.17L16.59,7.58L18,9L10,17Z"></path>
                  </svg>
                  <?php } ?>
                </h6>
                <span>
                <time><?php echo(time2str($context['post_data']['time'])) ?></time>
                </span> </div>
              <?php if (IS_LOGGED && $context['user']['user_id'] != $context['post_data']['user_id']) { ?>
              <span <?php if($context['is_following']){ ?> class="active"<?php } ?> id="lb-follow" data-user-id="<?php echo($context['post_data']['user_id']) ?>" <?php if($context['is_following']){ ?> title="{{LANG following}}"<?php }else{ ?> title="{{LANG follow}}"<?php } ?>>
              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-user-plus">
                <?php if($context['is_following']){ ?>
                <path d="M16 21v-2a4 4 0 0 0-4-4H5a4 4 0 0 0-4 4v2"></path>
                <circle cx="8.5" cy="7" r="4"></circle>
                <polyline points="17 11 19 13 23 9"></polyline>
                <?php } else{ ?>
                <path d="M16 21v-2a4 4 0 0 0-4-4H5a4 4 0 0 0-4 4v2"></path>
                <circle cx="8.5" cy="7" r="4"></circle>
                <line x1="20" y1="8" x2="20" y2="14"></line>
                <line x1="23" y1="11" x2="17" y2="11"></line>
                <?php } ?>
              </svg>
              </span>
              <?php } ?>
              <div class="pp_light_close" onclick="$('.light__box').remove();window.history.pushState('', '', site_url( 'properties' ) );">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-x">
                  <line x1="18" y1="6" x2="6" y2="18"></line>
                  <line x1="6" y1="6" x2="18" y2="18"></line>
                </svg>
              </div>
            </div>
            <?php if ($context['post_data']['location']) { ?>
            <div class="pp_light_caption">
              <p data-caption>
              <div style="display: flex">
                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Capa_1" x="0px" y="0px" width="25px" height="25px" viewBox="0 0 896.901 896.9" style="enable-background:new 0 0 896.901 896.9;" xml:space="preserve">
                  <g>
                    <g>
                      <circle cx="448.84" cy="506.199" r="46"/>
                      <path d="M313.14,392.5l61.1,59.1c19.7-20.4,46.2-31.7,74.601-31.7c27.7,0,53.799,10.8,73.399,30.401L582.34,390.2    c-35.701-35.7-83.102-55.3-133.5-55.3C397.239,334.9,349.04,355.3,313.14,392.5z"/>
                      <path d="M448.84,291.9c61.5,0,119.399,23.8,163.1,67.1l59.799-60.399c-59.699-59.2-138.898-91.7-222.899-91.7    c-42.7,0-84.2,8.4-123.3,24.9c-37.7,16-71.601,38.8-100.7,67.9l60.1,60.101C328.739,316,386.939,291.9,448.84,291.9z"/>
                      <path d="M122.14,485.6c36,107.701,121.9,265.1,326.5,411.301c204.599-146.301,290.4-303.6,326.4-411.301    c16.301-40,25.4-83.6,25.801-129.299c0.1-2.101-0.201-3.4-0.201-3.7c0,0,0,0,0-0.101c0-194.7-157.6-352.5-352.2-352.5    c-194.7,0-352.4,157.8-352.4,352.5c0,0,0,1.301,0.1,3.801C96.64,402,105.84,445.6,122.14,485.6z M448.64,86.9    c150,0,271.599,121.6,271.599,271.6c0,150-121.6,271.6-271.599,271.6c-150,0-271.6-121.6-271.6-271.6    C177.04,208.5,298.64,86.9,448.64,86.9z"/>
                    </g>
                  </g>
                  <g></g>
                  <g></g>
                  <g></g>
                  <g></g>
                  <g></g>
                  <g></g>
                  <g></g>
                  <g></g>
                  <g></g>
                  <g></g>
                  <g></g>
                  <g></g>
                  <g></g>
                  <g></g>
                  <g></g>
                </svg>
                <div style="padding-left: 5px;"><?php echo $context['post_data']['location'].",".$context['post_data']['city'].",".$context['post_data']['state']." - ".$context['post_data']['zip']; ?> </div>
              </div>
              </p>
            </div>
            <?php } ?>
            <div class="comments">
              <?php if(!empty($context['post_data']['lat'])&&!empty($context['post_data']['lng'])){ ?>
              <div id="map_canvas" style="max-height: 350px;height: 200px;max-width: 100%; border: 1px solid grey;">
                <h1>Select in Map</h1>
              </div>
              <?php } ?>
              <style>
.border-style{ border: 2px solid #403595;padding: 5px 10px;display: inline-block; border-radius: 30px; margin: 5px;}
</style>
              <div class="col-md-12 col-xs-12">
                <div class="rent-details-bm" style="font-weight: 600; display: flex; padding-top: .75rem; justify-content: space-between; align-items: center;">
				<?php if(!empty($context['post_data']['occupants'])){ ?>	
                  <div class="occupancy"> Occupancy: <span><?php echo $context['post_data']['occupants']; ?>
                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Layer_1" x="0px" y="0px" width="16px" height="16px" viewBox="0 0 512 512" enable-background="new 0 0 512 512" xml:space="preserve">
                      <g>
                        <path fill="#020201" d="M112.066,319.819c21.252-14.114,44.849-21.851,67.67-29.382c3.279-1.078,6.554-2.137,9.813-3.239   l0.668-0.221c4.822-1.689,9.393-3.284,13.134-5.345c0.169-0.394,0.411-1.049,0.7-2.135c-18.788-27.428-31.554-69.82-31.554-106.136   c0-30.807,9.682-53.629,27.941-67.526c-7.894-3.991-17.416-5.527-27.663-5.527c-27.307,0-49.442,10.91-49.442,50.082   c0,26.007,9.755,57.906,24.296,76.43c-0.135,1.464-0.308,2.931-0.571,4.388c-0.867,3.979-2.261,8.437-5.981,10.646   c-4.174,2.478-8.81,4.051-13.372,5.649c-18.912,6.365-38.472,11.975-55.258,23.121c-8.727,5.745-14.639,15.713-17.9,25.506   c-3.359,10.163-4.733,24.371-4.526,32.371h51.575C104.868,324.5,108.354,322.258,112.066,319.819z"/>
                        <path fill="#020201" d="M457.457,296.129c-3.263-9.793-9.178-19.379-17.9-25.125c-16.79-11.145-36.352-16.946-55.262-23.307   c-4.563-1.598-9.197-3.267-13.366-5.746c-3.726-2.213-5.121-6.715-5.982-10.698c-0.382-2.108-0.619-4.25-0.736-6.378   c13.712-18.761,22.809-49.369,22.809-74.471c0-39.18-22.137-50.097-49.443-50.097c-10.385,0-20.009,1.594-27.967,5.706   c18.105,13.913,27.697,36.684,27.697,67.366c0,35.358-11.861,76.072-29.895,103.673c0.049,0.313,0.097,0.619,0.153,0.925   c0.475,2.141,0.864,3.259,1.106,3.814c3.955,2.205,8.687,3.935,13.973,5.794l7.919,2.639c23.412,7.773,47.621,15.722,69.428,30.19   c3.524,2.325,6.852,4.085,9.971,8.085h52.019C462.189,320.5,460.813,306.292,457.457,296.129z"/>
                      </g>
                      <path d="M414.744,368.006c-4.354-13.059-12.239-25.999-23.867-33.668c-22.386-14.854-48.47-22.674-73.685-31.155  c-6.084-2.133-12.264-4.395-17.82-7.701c-4.969-2.953-6.827-8.97-7.979-14.28c-0.507-2.816-0.824-5.678-0.981-8.519  c18.282-25.013,30.413-65.829,30.413-99.3c0-52.24-29.516-66.796-65.926-66.796c-36.408,0-65.922,14.541-65.922,66.776  c0,34.67,13.006,77.204,32.395,101.912c-0.181,1.947-0.41,3.902-0.76,5.842c-1.159,5.303-3.018,11.249-7.975,14.194  c-5.568,3.308-11.749,5.399-17.832,7.532c-25.215,8.489-51.297,15.965-73.677,30.827c-11.636,7.661-19.52,21.277-23.867,34.336  c-4.48,13.551-6.311,30.494-6.035,43.494h164.772h164.773C421.053,398.5,419.219,381.556,414.744,368.006z"/>
                    </svg>
                    </span> 
					</div>
					<?php } ?>
                  <div class="rent-amount" style="font-size: 20px;"> <strong>$<?php echo $context['post_data']['rent'] ?>/M</strong> </div>
                </div>
              </div>
              <div class="col-md-12 col-xs-12">
                <h4>Amenities</h4>
                <?php if(!empty($context['post_data']['features'])){ $feature = explode(',',$context['post_data']['features']); foreach($feature as $features){ ?>
                <span class="border-style"><?php echo $features ?></span>
                <?php } } ?>
              </div>
              <div class="col-md-12 col-xs-12">
                <h4>Rules</h4>
                <?php if(!empty($context['post_data']['rules'])){ $feature = explode(',',$context['post_data']['rules']); foreach($feature as $features){ ?>
                <span class="border-style"><?php echo $features ?></span>
                <?php } } ?>
              </div>
            </div>
          </div>
        </div>
        <?php if ($context['prev']) { ?>
        <a href="javascript:void(0);" class="light__box-slide-controls prev" onclick="lightbox('<?php echo($context['prev']) ?>','<?php echo($context['page']) ?>');"> <span>
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-arrow-left">
          <line x1="19" y1="12" x2="5" y2="12"></line>
          <polyline points="12 19 5 12 12 5"></polyline>
        </svg>
        </span> </a>
        <?php } ?>
        <?php if ($context['next']) { ?>
        <a href="javascript:void(0);" class="light__box-slide-controls next" onclick="lightbox('<?php echo($context['page']) ?>','<?php echo($context['prev']) ?>');"> <span>
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-arrow-right">
          <line x1="5" y1="12" x2="19" y2="12"></line>
          <polyline points="12 5 19 12 12 19"></polyline>
        </svg>
        </span> </a>
        <?php } ?>
      </div>
    </div>
  </div>
</div>
<script>
	<?php if(!empty($context['post_data']['lat'])&&!empty($context['post_data']['lng'])){ ?>
	var loc = new google.maps.LatLng( <?php echo $context['post_data']['lat'] ?>, <?php echo $context['post_data']['lng'] ?> );
	window.map = new google.maps.Map( document.getElementById( 'map_canvas' ), {
		zoom: 18,
		center: loc,
		mapTypeId: google.maps.MapTypeId.ROADMAP
	} );
   var marker = new google.maps.Marker( {
			position: loc,
			map: window.map
		} );
	<?php } ?>
	jQuery(document).ready(function($) {

		var ell = $("#lightbox_c").emojioneArea({
			pickerPosition: "top",
		    tonesStyle: "radio",
		    events: {
		     	keyup: function (editor, event) {
			      $("#lightbox_c").val(ell[0].emojioneArea.getText());
	              lb_comment('<?php echo($context['post_data']['post_id']) ?>',event);
	              if (event.keyCode == 13 && event.shiftKey == 0) {
					$('.emojionearea .emojionearea-editor').html('');
	              }
			    }
		    },
		    filters: {
		        flags : false,
		        objects : false,
		        travel_places : false,
		        activity : false
		    }
		});
		$('.comment-box .emojionearea').css('border', '0');
		var lbox = $(".light__box");
		<?php if ($context['post_data']['type'] == 'video' || $context['post_data']['type'] == 'mp4') { ?>
			afterglow.init();
		<?php } ?>


		lbox.find('.lightbox-outer').click(function(event) {
			if ($(event.target).hasClass('lightbox-outer')) {
				$('.light__box').remove();
				window.history.pushState("", "", site_url( 'properties' ) );
			}
		});

		$(document).keyup(function(e) {
		    if (e.keyCode == 27) {
		    	$('.light__box').remove();
		    	window.history.pushState("", "", site_url( 'properties' ) );
		    }
		});

		lbox.find("#lb-like-post").click(function(event) {
			var zis = $(this);
			var lks = lbox.find('[data-likes]');
			var pid = lbox.data('post-id');
			if (not(is_logged())) {
				redirect('welcome');
				return false;
			}

			if (zis.hasClass('active')) {
				zis.removeClass('active');

				if (lks) {
					let likes = int(lks.text());
					if (likes >= 1) {
						lks.text(likes - 1);
					}
				}
			}
			else{
				zis.addClass('active');
				if (lks) {
					let likes = int(lks.text()) + 1;
					lks.text(likes);
				}
			}

			$.ajax({
				url: link('posts/like'),
				type: 'POST',
				dataType: 'json',
				data: {id:pid},
			}).done(function(data) {});
		});

		lbox.find("#lb-save-post").click(function(event) {
			var zis = $(this);
			var pid = lbox.data('post-id');

			if (not(is_logged())) {
				redirect('welcome');
				return false;
			}

			if (zis.hasClass('active')) {
				zis.removeClass('active');
			}
			else{
				zis.addClass('active');
			}

			$.ajax({
				url: link('posts/save'),
				type: 'POST',
				dataType: 'json',
				data: {id:pid},
			})
			.done(function(data) {});
		});

		lbox.find('#lb-follow').click(function(event) {
			var uid = $(this).data('user-id');
			var zis = $(this);
			if (not(is_logged())) {
				redirect('welcome');
				return false;
			}

			if (zis.hasClass('active')) {
				zis.removeClass('active');
				zis.find('svg').html('<path d="M16 21v-2a4 4 0 0 0-4-4H5a4 4 0 0 0-4 4v2"></path><circle cx="8.5" cy="7" r="4"></circle><line x1="20" y1="8" x2="20" y2="14"></line><line x1="23" y1="11" x2="17" y2="11"></line>');
			}
			else{
				zis.addClass('active');
				zis.find('svg').html('<path d="M16 21v-2a4 4 0 0 0-4-4H5a4 4 0 0 0-4 4v2"></path><circle cx="8.5" cy="7" r="4"></circle><polyline points="17 11 19 13 23 9"></polyline>');
			}

			$.ajax({
				url: link('main/follow'),
				type: 'GET',
				dataType: 'json',
				data: {user_id:uid},
			}).done(function(data) {});
		});
	});

function copyLinkfn() {
  var copyText = document.getElementById("copyLink");
  copyText.select();
  document.execCommand("copy");
}
</script>