<div class="container pp_startup">
  <div class="settings-page-container">
    <div class="row" id="looking_bar" >
      <div class="start_head var" style="padding: 0px 15px 30px 15px" style="justify-content: center;">
        <h3> What are you looking for ? </h3>
      </div>
      <div class="col-md-12" style="display: flex; flex-wrap: wrap;">
            <button class="btn btn-info pp_flat_btn var" onClick="window.listing_switch = 'place';switch_bars('looking_bar','location_bar')"><span>A place to Live</span> </button>
            <button class="btn btn-info pp_flat_btn var" onclick="set_listing();switch_bars('looking_bar','location_bar')" type="submit"><span>List a room</span> </button>
          </div>
    </div>
	<div class="row" id="location_bar" style="display: none">
      <div class="start_head var" style="padding: 0px 15px 30px 15px" style="justify-content: center;">
        <h3> In which locality ? </h3>
      </div>
      <div class="col-md-12" style="display: flex; flex-wrap: wrap;">
		  <div class="col-md-3"></div>
           <div class="col-md-6">
          <div class="pp_mat_input">
            <input value="" required="true" class="form-control"  placeholder="Enter your address"
             onFocus="geolocate()" onKeyUp="if($(this).val()==''){$('#loc_done').attr('disabled',true)}else{$('#loc_done').removeAttr('disabled')}" type="text"  id="get_location_input"  autofocus />
            <label for="get_location_input">Enter the street/ area name</label>
            <span class="bar"></span> 
			</div>
		<div class="col-md-12" style="display: flex; flex-wrap: wrap;">
            <button id="loc_done" class="btn btn-info pp_flat_btn var" onClick="switch_bars('location_bar','about_bar')"><span>Go ahead !</span> </button>
          </div>	   
          </div>
		  <div class="col-md-3"></div>
    </div>
	 </div>
    <div class="row" id="about_bar"   style="display: none">
      <form id="startup_info">
        <div class="start_head var">
          <h3>
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
              <path fill="currentColor" d="M12,4A4,4 0 0,1 16,8A4,4 0 0,1 12,12A4,4 0 0,1 8,8A4,4 0 0,1 12,4M12,14C16.42,14 20,15.79 20,18V20H4V18C4,15.79 7.58,14 12,14Z" />
            </svg>
            {{LANG tell_us}}</h3>
          <p onclick="switch_bars('about_bar','interests_bar')">{{LANG skip_step}}</p>
        </div>
        <div class="col-md-3"></div>
        <div class="col-md-6">
          <div class="pp_mat_input">
            <input value="<?php isset($_SESSION['init_data'])&&isset($_SESSION['init_data']->fname)?$_SESSION['init_data']->fname:'' ?>" required="true" class="form-control" type="text" name="fname" id="fname"  autofocus />
            <label for="fname">{{LANG fname}}</label>
            <span class="bar"></span> </div>
          <div class="pp_mat_input">
            <input value="<?php isset($_SESSION['init_data'])&&isset($_SESSION['init_data']->lname)?$_SESSION['init_data']->lname:'' ?>" required="true" class="form-control" type="text" name="lname" id="lname"  autofocus />
            <label for="lname">{{LANG lname}}</label>
            <span class="bar"></span> </div>
          <div class="pp_mat_select">
            <label class="pp_mat_label">Gender</label>
            <div>
              <select required="true" class="form-control" type="text" name="gender" id="gender" >
                <option value="">Select one</option>
                <option <?php isset($_SESSION['init_data'])&&isset($_SESSION['init_data']->gender)&&$_SESSION['init_data']->gender=='male'?'selected':"" ?> value="male">Male</option>
                <option <?php isset($_SESSION['init_data'])&&isset($_SESSION['init_data']->gender)&&$_SESSION['init_data']->gender=='female'?'selected':"" ?> value="female">Female</option>
                <option value="other">Other</option>
              </select>
            </div>
            <span class="bar"></span> </div>
          <div class="pp_mat_select">
            <label class="pp_mat_label">Date of Birth</label>
            <div  class="pp_mat_input">
              <input required="true" class="form-control" type="date" name="dob" id="dob"  autofocus />
            </div>
            <!--						<label for="lname">Date of Birth</label>--> 
            <span class="bar"></span> </div>
          <div class="pp_mat_input">
            <input required="true" class="form-control" type="number" maxlength="15" min="44444" name="phone" id="phone"  autofocus />
            <label for="lname">Phone</label>
            <span class="bar"></span> </div>
          <div class="pp_mat_select">
            <label class="pp_mat_label">{{LANG country}}</label>
            <div>
              <select name="country" class="form-control" id="country_1">
                <option value="" selected>Select Country</option>
                <?php foreach ($context['countries_name'] as $cid => $cname) { ?>
                <option value="<?php echo($cid) ?>" text="<?php echo($cname) ?>"><?php echo($cname) ?></option>
                <?php } ?>
              </select>
              <span class="bar"></span> </div>
            <div class="clear"></div>
          </div>
          <div class="pp_mat_select">
            <label class="pp_mat_label">
            <h5>Do you work?  &nbsp;
              <input type="checkbox" onClick="$('#work,#workspace').prop('disabled', function(i, v) { return !v; });" name="workstatus" class="form-control" style="display: inline;width: auto;height: auto" />
            </h5>
            </label>
            <span class="bar"></span> </div>
          <div class="pp_mat_input">
            <input  disabled class="form-control" type="text" name="work" id="work"  autofocus />
            <label for="work">What do you do ?</label>
            <span class="bar"></span> </div>
          <div class="pp_mat_input">
            <input W disabled class="form-control" type="text" name="workspace" id="workspace"  autofocus />
            <label for="workspace">Where do you work?</label>
            <span class="bar"></span> </div>
          <div class="pp_mat_select">
            <label class="pp_mat_label">Tell us about yourself</label>
            <div  class="pp_mat_input">
              <textarea required="true" class="form-control" type="date" name="bio" id="bio" maxlength="1000"  autofocus ></textarea>
            </div>
            <!--						<label for="lname">Date of Birth</label>--> 
            <span class="bar"></span> </div>
          <div class="pp_welcome_feature startup_button">
            <div class="pp_load_loader">
              <button class="btn btn-info pp_flat_btn" type="submit"><span>{{LANG save_c}}</span></button>
            </div>
          </div>
        </div>
        <div class="col-md-3"></div>
        <input type="hidden" name="hash" value="<?php echo($context['csrf_token']) ?>">
      </form>
    </div>
    <div class="row" id="interests_bar" style="display: none" >
      <form class="form row pp_sett_form" style="padding-top:0px; " id="edit-interests-settings">
        <div class="start_head var" style="padding: 0px 15px 30px 15px">
          <h3> Your Interests </h3>
          <p onclick="switch_bars('interests_bar','notification_bar')">Skip</p>
        </div>
        <div class="col-md-3"></div>
        <div class="col-md-6">
          <div class="pp_mat_select">
            <label class="pp_mat_label">Do you smoke?</label>
            <div>
              <select type="text" name="hobby[]" class="form-control" value="<?php echo($context['user']['hobby'][0]) ?>">
                <option value="">Select one</option>
                <option value="smoke">Yes, I do.</option>
                <option value="nosmoke">No, I don't.</option>
              </select>
            </div>
            <span class="bar"></span> </div>
          <div class="pp_mat_select">
            <label class="pp_mat_label">Are you an introvert or an extrovert?</label>
            <div>
              <select type="text" name="hobby[]" class="form-control" value="<?php echo($context['user']['hobby'][1]) ?>">
                <option value="">Select one</option>
                <option value="introvert">Introvert</option>
                <option value="extrovert">Extrovert</option>
              </select>
            </div>
            <span class="bar"></span> </div>
          <div class="pp_mat_select">
            <label class="pp_mat_label">Do you have pets?</label>
            <div>
              <select type="text" name="hobby[]" class="form-control" value="<?php echo($context['user']['hobby'][2]) ?>">
                <option value="">Select one</option>
                <option value="pet">Yes, I do have.</option>
                <option value="nopet">No, I don't have.</option>
              </select>
            </div>
            <span class="bar"></span> </div>
          <div class="pp_mat_select">
            <label class="pp_mat_label">Are you employed?</label>
            <div>
              <select type="text" name="hobby[]" class="form-control" value="<?php echo($context['user']['hobby'][3]) ?>">
                <option value="">Select one</option>
                <option value="employed">Yes, I am.</option>
                <option value="unemployed">No, I am not.</option>
              </select>
            </div>
            <span class="bar"></span> </div>
          <div class="pp_mat_select">
            <label class="pp_mat_label">Would you consider yourself organized, somewhat organized, or not organized at all?</label>
            <div>
              <select type="text" name="hobby[]" class="form-control" value="<?php echo($context['user']['hobby'][4]) ?>">
                <option value="">Select one</option>
                <option value="organized">I am organized</option>
                <option value="somewhatorganized">I am somewhat organized</option>
                <option value="notorganized">I am not organized</option>
              </select>
            </div>
            <span class="bar"></span> </div>
          <div class="pp_mat_select">
            <label class="pp_mat_label">Are you married or engaged?</label>
            <div>
              <select type="text" name="hobby[]" class="form-control" value="<?php echo($context['user']['hobby'][5]) ?>">
                <option value="">Select one</option>
                <option value="married">Yes, I am</option>
                <option value="notmarried">No, I am not</option>
              </select>
            </div>
            <span class="bar"></span> </div>
          <div class="pp_mat_select">
            <label class="pp_mat_label">Do you have children?</label>
            <div>
              <select type="text" name="hobby[]" class="form-control" value="<?php echo($context['user']['hobby'][6]) ?>">
                <option value="">Select one</option>
                <option value="child">Yes, I have</option>
                <option value="nochild">No, I don't have</option>
              </select>
            </div>
            <span class="bar"></span> </div>
          <div class="pp_mat_select">
            <label class="pp_mat_label">Do you prefer eating out or eating at home?</label>
            <div>
              <select type="text" name="hobby[]" class="form-control" value="<?php echo($context['user']['hobby'][7]) ?>">
                <option value="">Select one</option>
                <option value="eatout">I prefer eating out</option>
                <option value="eathome">I prefer eating at home</option>
              </select>
            </div>
            <span class="bar"></span> </div>
          <div class="pp_mat_select">
            <label class="pp_mat_label">Would you consider yourself a loud person or a quiet person?</label>
            <div>
              <select type="text" name="hobby[]" class="form-control" value="<?php echo($context['user']['hobby'][8]) ?>">
                <option value="">Select one</option>
                <option value="loud">I am loud person</option>
                <option value="moderate">I am moderate</option>
                <option value="quite">I am quite person</option>
              </select>
            </div>
            <span class="bar"></span> </div>
          <div class="pp_mat_select">
            <label class="pp_mat_label">Do require any special accommodations(handicap, hearing impaired, visually impaired)?</label>
            <div>
              <select type="text" name="hobby[]" class="form-control" value="<?php echo($context['user']['hobby'][9]) ?>">
                <option value="">Select one</option>
                <option value="physical">Yes, I am physically challeged</option>
                <option value="hearing">Yes, I have hearing problem</option>
                <option value="visually">Yes, I am Visually impaired</option>
                <option value="notchallenged">No, Not required</option>
              </select>
            </div>
            <span class="bar"></span> </div>
          <!--<?php if ($context['user']['admin'] == 1 || $context['user']['is_pro']) { ?>
		<div class="pp_mat_select">
			<label class="pp_mat_label">{{LANG profile_style}}</label>
			<div>
				<select name="profile" class="form-control" required="true">
					<option value="1" <?php if($context['user']['profile'] == 1){ ?> selected <?php } ?>>
						{{LANG default_profile}}
					</option>
					<option value="2" <?php if($context['user']['profile'] == 2){ ?> selected <?php } ?>>
						{{LANG new_profile}}
					</option>
				</select>
				<span class="bar"></span>
			</div>
			<div class="clear"></div>
		</div>
		<?php } ?>-->
          
          <?php if ($context['user']['business_account'] == 1 && $config['business_account'] == 'on') { ?>
          <br>
          <br>
          <br>
          <div class="pp_mat_input">
            <input type="url2" name="b_name" class="form-control" value="<?php echo($context['user']['b_name']) ?>">
            <span class="bar"></span>
            <label>{{LANG business_name}}</label>
          </div>
          <div class="pp_mat_input">
            <input type="url2" name="b_email" class="form-control" value="<?php echo($context['user']['b_email']) ?>">
            <span class="bar"></span>
            <label>{{LANG email}}</label>
          </div>
          <div class="pp_mat_input">
            <input type="url2" name="b_phone" class="form-control" value="<?php echo($context['user']['b_phone']) ?>">
            <span class="bar"></span>
            <label>{{LANG phone_number}}</label>
          </div>
          <div class="pp_mat_input">
            <input type="url2" name="b_site" class="form-control" value="<?php echo($context['user']['b_site']) ?>">
            <span class="bar"></span>
            <label>{{LANG call_to_target_url}}</label>
          </div>
          <div class="pp_mat_select">
            <label class="pp_mat_label">{{LANG call_to_action}}</label>
            <div>
              <select name="b_site_action" class="form-control" required="true">
                <?php foreach ($context['call_action'] as $cid => $cname) { ?>
                <option value="<?php echo($cid) ?>" <?php if($context['user']['b_site_action'] == $cid){ ?> selected <?php } ?>> <?php echo lang($cname); ?> </option>
                <?php } ?>
              </select>
              <span class="bar"></span> </div>
            <div class="clear"></div>
          </div>
          <?php } ?>
          <div class="pp_load_loader">
            <button class="btn btn-info pp_flat_btn" type="submit"><span>{{LANG save_c}}</span></button>
          </div>
          <input type="hidden" name="user_id" value="<?php echo($context['user']['user_id']) ?>">
          <input type="hidden" name="hash" value="<?php echo($context['csrf_token']) ?>">
        </div>
        <div class="col-md-3"></div>
      </form>
    </div>
    <div class="row" id="notification_bar" style="display: none">
      <div class="start_head var" style="padding: 0px 15px 30px 15px">
        <h3> Notifications </h3>
        <p onclick="decide_page()">{{LANG skip_step}}</p>
      </div>

      <div class="col-md-12">
      
            <h4 style="font-size: 18px; line-height: 1.4; text-align: center; padding-bottom: 2rem;"> Would you like us to send you notifications related to your account?</h4>
           <div style="display: flex; flex-wrap: wrap">
              <button class="btn btn-info pp_flat_btn var" onClick="initiate_notification();decide_page()"><span>Yes</span> </button>
       
               <button class="btn btn-info pp_flat_btn var" onclick="decide_page()" type="submit"><span>Maybe Later</span> </button>
            </div>      
            
          </div>
        </div>
    <div class="row" id="listing_bar" style="display: none">
      <div class="start_head var" style="padding: 0px 15px 30px 15px">
        <h3> Add your property listing </h3>
        <p onclick="skip_startup()">{{LANG skip_step}}</p>
      </div>
      <div class="col-xs-12">
        <link href="<?php echo $_SERVER['site_url'] ?>/apps/default/main/static/css/blends.css" rel="stylesheet">
        <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
        <?php include('./listing/application/views/common/listing.php') ?>
        <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB8Wm2IOByeafGEqgMNUcyC_8KmhFdgkjY&libraries=geometry,places"></script> 
        <script>window.base_url = "<?php echo $_SERVER['site_url'] ?>/listing/";window.lat = '<?php echo  $_SESSION['lat'] ?>';
         			    window.lng = '<?php echo $_SESSION['lng'] ?>'; </script> 
        <script  type="text/javascript" src="<?php echo $_SERVER['site_url'] ?>/listing/assets/js/validation.min.js"></script> 
        <script  src="http://cdn.jsdelivr.net/jquery.validation/1.15.0/additional-methods.min.js"></script> 
        <script  src="<?php echo $_SERVER['site_url'] ?>/listing/assets/js/image_upload.js"></script> 
        <script  src="<?php echo $_SERVER['site_url'] ?>/listing/assets/js/notify.js"></script> 
        <script  src="<?php echo $_SERVER['site_url'] ?>/listing/assets/js/common_function.js"></script> 
        <!--	   <script defer src="{{CONFIG site_url}}assets/js/news.js"></script>--> 
        <script  src="<?php echo $_SERVER['site_url'] ?>/listing/assets/js/validate_function.js"></script> 
        <script  src="<?php echo $_SERVER['site_url'] ?>/listing/assets/js/listing.js"></script>
        <?php include('./listing/application/views/common/listing_js.php') ?>
        <div class="text-center"> <small>You can edit your listings in your listing panel</small> </div>
        <script >add_uploader();reset_add_listing();</script> 
      </div>
    </div>
  </div>
</div>
<script>
var placeSearch, autocomplete;
var componentForm = {
  location: 'short_name',
  locality: 'long_name',
  city: 'long_name',
  state: 'short_name',
  country: 'long_name',
  pin: 'short_name'
};

function initAutocomplete() {
  // Create the autocomplete object, restricting the search predictions to
  // geographical location types.
  autocomplete = new google.maps.places.Autocomplete(
      document.getElementById('autocomplete'), {types: ['geocode']});

  // Avoid paying for data that you don't need by restricting the set of
  // place fields that are returned to just the address components.
  autocomplete.setFields(['address_component']);

  // When the user selects an address from the drop-down, populate the
  // address fields in the form.
  autocomplete.addListener('place_changed', fillInAddress);
}

function fillInAddress() {
  // Get the place details from the autocomplete object.
  var place = autocomplete.getPlace();

  for (var component in componentForm) {
    document.getElementById(component).value = '';
    document.getElementById(component).disabled = false;
  }
  switch_bars('location_bar','about_bar');
  // Get each component of the address from the place details,
  // and then fill-in the corresponding field on the form.
  for (var i = 0; i < place.address_components.length; i++) {
    var addressType = place.address_components[i].types[0];
    if (componentForm[addressType]) {
      var val = place.address_components[i][componentForm[addressType]];
      document.getElementById(addressType).value = val;
    }
  }
}

// Bias the autocomplete object to the user's geographical location,
// as supplied by the browser's 'navigator.geolocation' object.
function geolocate() {
  if (navigator.geolocation) {
    navigator.geolocation.getCurrentPosition(function(position) {
      var geolocation = {
        lat: position.coords.latitude,
        lng: position.coords.longitude
      };
      var circle = new google.maps.Circle(
          {center: geolocation, radius: position.coords.accuracy});
      autocomplete.setBounds(circle.getBounds());
    });
  }
}
    </script>
<script data-page="interests">
	function initiate_notification(){
		if (Notification.permission !== "granted")
{
Notification.requestPermission();
}
			}
		jQuery(document).ready(function($) {
			$('select').each(function(ele){
//				console.log($(this).attr('value'));
				$(this).val($(this).attr('value'))						 
			});
			$("form#edit-interests-settings").ajaxForm({
				url: '<?php echo($context['xhr_url']) ?>/aj/settings/interests',
				type: 'POST',
				dataType: 'json',
				beforeSubmit: function(arr,form){
					if ($(form).find('#active').length > 0) {
						if($(form).find('#active').prop('checked') == false){
							arr.push({name:'active', value:'off'}); 
						}
					}
					if ($(form).find('#verified').length > 0) {
						if($(form).find('#verified').prop('checked') == false){
							arr.push({name:'verified', value:'off'}); 
						}
					}
					if ($(form).find('#is_pro').length > 0) {
						if($(form).find('#is_pro').prop('checked') == false){
							arr.push({name:'is_pro', value:'off'}); 
						}
					}
					if ($(form).find('#business_account').length > 0) {
						if($(form).find('#business_account').prop('checked') == false){
							arr.push({name:'business_account', value:'off'}); 
						}
					}
					
					
					$(form).find('.pp_load_loader').addClass('loading');
					$(form).find('button[type="submit"]').attr('disabled','true');
				},
				success: function(data,stat,xhr,form){
//					scroll2top();
					switch_bars('interests_bar','notification_bar')
					$.toast(data.message,{
	                	duration: 5000, 
	                	type: 'success',
	                	align: 'bottom',
	                	singleton: true
	                });
             
				}
			});

			
		});
	</script> 
<script type="text/javascript">
$('#country').html($('#country_1').html())	
function set_listing(){
	window.listing_switch ='roommate';
}	
function decide_page(){
if(window.listing_switch =='roommate'){
	switch_bars('notification_bar','listing_bar');	
	}else{
	$.post(link('startup/skip'), function(data, textStatus, xhr) {
    $.post(link('startup/skip'), function(data, textStatus, xhr) {
	window.location.href = 	site_url('properties?search='+$('#locality').val());
	});
	});
	}
}
function switch_bars(id_hide,id_show){
$('#'+id_hide+",#"+id_show).toggle(300);
}
jQuery(document).ready(function($) {
	var form = $("form#startup_info");
	form.ajaxForm({
		url: link('startup/startup_info'),
		type: 'POST',
		dataType: 'json',
		beforeSend: function(){
			$('form').find('.pp_load_loader').addClass('loadingg');
			$('form').find('button[type="submit"]').attr('disabled','true');
		},
		success: function(data){
			if (data.status == 200) {
				switch_bars('about_bar','interests_bar')
			}
			else{
				$.toast(data.message,{
					duration: 5000, 
					type: '',
					align: 'top-right',
					singleton: false
				});
			}
			$('form').find('.pp_load_loader').removeClass('loadingg');
	        $('form').find('button[type="submit"]').removeAttr('disabled');
		}
	});
});
</script>