<?php  if((isset($_GET['webview_type'])&&$_GET['webview_type']=="app")||(isset($_POST['webview_type'])&&$_POST['webview_type']=="app")){ ?>
<style>
	.home-page-container,.messages-container,.explore-page-container,.user-profile-page-content,.post-data-container  {
    margin-top: -25px!important;
}
</style>
<?php }else{ ?>
<nav id="header_nav" class="navbar navbar-default navbar-fixed-top nav-down">
    <div class="container container-<?php echo($context['app_name']); ?> container-<?php echo($context['app_name']); ?>-header" id="header_">
        <div id="navbar-collapse">
            <ul class="nav navbar-nav navbar-left">
                <li class="logo">
                    <a href="{{CONFIG site_url}}">
                        <img src="{{CONFIG site_url}}/media/img/logo.png" width="42px">
                    </a>
                </li>
				<?php if (IS_LOGGED) { ?>
                    <?php if ($context['app_name'] == 'home') { ?>
                    <li class="pp_front_menu active" id="home_nav">
                        <a href="{{CONFIG site_url}}" data-ajax="ajax_loading.php?app=home&apph=home">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="#66757f" class="feather feather-home"><defs xmlns="http://www.w3.org/2000/svg"><linearGradient x1="19.28%" y1="86.72%" x2="88.05%" y2="12.24%" id="home"><stop stop-color="#5cb933" offset="0%"/><stop stop-color="#459522" offset="49.5%"/><stop stop-color="#41991a" offset="100%"/></linearGradient></defs><path d="M10,20V14H14V20H19V12H22L12,3L2,12H5V20H10Z" fill="url(#home)"/></svg> <span>{{LANG home}}</span>
                        </a>
                    </li>
                <?php } else{ ?>
                    <li class="pp_front_menu" id="home_nav">
                        <a href="{{CONFIG site_url}}" data-ajax="ajax_loading.php?app=home&apph=home">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="#66757f" class="feather feather-home"><path d="M9,19V13H11L13,13H15V19H18V10.91L12,4.91L6,10.91V19H9M12,2.09L21.91,12H20V21H13V15H11V21H4V12H2.09L12,2.09Z" /></svg> <span>{{LANG home}}</span>
                        </a>
                    </li>
                <?php } ?>
                <?php if ($context['app_name'] == 'explore') { ?>
                    <li class="pp_front_menu exp_menu active" id="explore_nav">
                        <a href="{{CONFIG site_url}}/explore" data-ajax="ajax_loading.php?app=explore&apph=explore">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="#66757f" class="feather feather-compass"><defs xmlns="http://www.w3.org/2000/svg"><linearGradient x1="19.28%" y1="86.72%" x2="88.05%" y2="12.24%" id="explore"><stop stop-color="#3D3695" offset="0%"/><stop stop-color="#953594" offset="49.5%"/><stop stop-color="#DA2129" offset="100%"/></linearGradient></defs><path d="M12 10.9c-.61 0-1.1.49-1.1 1.1s.49 1.1 1.1 1.1c.61 0 1.1-.49 1.1-1.1s-.49-1.1-1.1-1.1zM12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm2.19 12.19L6 18l3.81-8.19L18 6l-3.81 8.19z" fill="url(#explore)"/></svg> <span>{{LANG explore}}</span>
                        </a>
                    </li>
                <?php } else{ ?>
                    <li class="pp_front_menu exp_menu" id="explore_nav">
                        <a href="{{CONFIG site_url}}/explore" data-ajax="ajax_loading.php?app=explore&apph=explore">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="#66757f" class="feather feather-compass"><path d="M7,17L10.2,10.2L17,7L13.8,13.8L7,17M12,11.1A0.9,0.9 0 0,0 11.1,12A0.9,0.9 0 0,0 12,12.9A0.9,0.9 0 0,0 12.9,12A0.9,0.9 0 0,0 12,11.1M12,2A10,10 0 0,1 22,12A10,10 0 0,1 12,22A10,10 0 0,1 2,12A10,10 0 0,1 12,2M12,4A8,8 0 0,0 4,12A8,8 0 0,0 12,20A8,8 0 0,0 20,12A8,8 0 0,0 12,4Z" /></svg> <span>{{LANG explore}}</span>
                        </a>
                    </li>
                <?php } ?>
<!--
				
-->
                 <?php if ($context['app_name'] == 'deals') { ?>
                    <li class="pp_front_menu exp_menu active" id="deals_nav">
                        <a href="{{CONFIG site_url}}/deals" data-ajax="ajax_loading.php?app=deals&apph=deals">
                          <img src="{{CONFIG site_url}}/media/img/store-active.png" width="18px" height="18px" alt="deals" style="vertical-align: sub; margin-right: 3px;">
                          <span>Deals</span>
                        </a>
                    </li>
                    <?php } else{ ?>
                        <li class="pp_front_menu exp_menu" id="deals_nav">
                            <a href="{{CONFIG site_url}}/deals" data-ajax="ajax_loading.php?app=deals&apph=deals">
                              <img src="{{CONFIG site_url}}/media/img/store.png" width="18px" height="18px" alt="deals" style="vertical-align: sub; margin-right: 3px;">
                              <span>{{LANG deals}}</span>
                            </a>
                        </li>
                    <?php } ?>
				<?php if ($context['app_name'] == 'properties') { ?>
                    <li class="pp_front_menu exp_menu active" id="properties_nav">
                        <a href="{{CONFIG site_url}}/properties" data-ajax="ajax_loading.php?app=properties&apph=properties">
                          <img src="{{CONFIG site_url}}/media/img/properties-active.png" width="18px" height="18px" alt="properties" style="vertical-align: sub; margin-right: 3px;">
                          <span>Properties</span>
                        </a>
                    </li>
                    <?php } else{ ?>
                        <li class="pp_front_menu exp_menu" id="properties_nav">
                            <a href="{{CONFIG site_url}}/properties" data-ajax="ajax_loading.php?app=properties&apph=properties">
                              <img src="{{CONFIG site_url}}/media/img/properties.png" width="18px" height="18px" alt="properties" style="vertical-align: sub; margin-right: 3px;">
                              <span>Properties</span>
                            </a>
                        </li>
                    <?php } ?>
				<?php } ?> 
                <?php if ($me['is_pro'] == 0 && $config['pro_system'] == 'on') { ?>
                <li class="pp_front_menu last_menu" id="go_pro_nav">
                    <a href="{{CONFIG site_url}}/go_pro" data-ajax="ajax_loading.php?app=go_pro&apph=go_pro">
                        <img src="{{CONFIG site_url}}/media/img/store-active.png" width="18px" height="18px" alt="deals" style="vertical-align: sub; margin-right: 3px;">
                        <span>{{LANG go_pro}}</span>
                    </a>
                </li>
                <?php } ?>

                <li>
                    <form class="form navbar-search">
                        <div class="input">
                            <input type="text" class="form-control" placeholder="{{LANG search}}.." id="search-users">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-search"><circle cx="11" cy="11" r="8"></circle><line x1="21" y1="21" x2="16.65" y2="16.65"></line></svg>
                            <div class="pp_head_search_loader" id="pp_loader"><div class="speeding_wheel"></div></div>
                        </div>
                        <div class="search-result"></div>
                    </form>
                </li>
            </ul>

            <ul class="nav navbar-nav navbar-right">
                <?php if (IS_LOGGED) { ?>
                    <li>
                        <a href="javascript:void(0);" class="mode_button" onclick="change_mode()">
							<svg fill="#009da0" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg" class="feather feather-bulb"><path d="M12,6A6,6 0 0,1 18,12C18,14.22 16.79,16.16 15,17.2V19A1,1 0 0,1 14,20H10A1,1 0 0,1 9,19V17.2C7.21,16.16 6,14.22 6,12A6,6 0 0,1 12,6M14,21V22A1,1 0 0,1 13,23H11A1,1 0 0,1 10,22V21H14M20,11H23V13H20V11M1,11H4V13H1V11M13,1V4H11V1H13M4.92,3.5L7.05,5.64L5.63,7.05L3.5,4.93L4.92,3.5M16.95,5.63L19.07,3.5L20.5,4.93L18.37,7.05L16.95,5.63Z"></path></svg>
                        </a>
                    </li>
                    <li class="hide_head_link <?php if($context['app_name'] == 'messages'){ ?> active <?php } ?>" id="messages_nav">
                        <a href="{{CONFIG site_url}}/messages" class="_messages" data-ajax="ajax_loading.php?app=messages&apph=messages">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-message-square"><path d="M21 15a2 2 0 0 1-2 2H7l-4 4V5a2 2 0 0 1 2-2h14a2 2 0 0 1 2 2z"></path></svg>
                            <small class="badge" id="new__messages"></small>
                        </a>
                    </li>
                    <li>
                        <div class="dropdown notifications-list" id="get-notifications">
                            <span class="dropdown-toggle pointer" data-toggle="dropdown">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-bell"><path d="M22 17H2a3 3 0 0 0 3-3V9a7 7 0 0 1 14 0v5a3 3 0 0 0 3 3zm-8.27 4a2 2 0 0 1-3.46 0"></path></svg>
                                <small class="badge" id="new__notif"></small>
                            </span>
                            <div class="dropdown-menu zoom">
                                <div class="header">{{LANG notifications}}
                                    <a href="{{CONFIG site_url}}/settings/notifications/{{ME username}}" data-ajax="ajax_loading.php?app=settings&apph=settings&user={{ME username}}&page=notifications">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-sliders"><line x1="4" y1="21" x2="4" y2="14"></line><line x1="4" y1="10" x2="4" y2="3"></line><line x1="12" y1="21" x2="12" y2="12"></line><line x1="12" y1="8" x2="12" y2="3"></line><line x1="20" y1="21" x2="20" y2="16"></line><line x1="20" y1="12" x2="20" y2="3"></line><line x1="1" y1="14" x2="7" y2="14"></line><line x1="9" y1="8" x2="15" y2="8"></line><line x1="17" y1="16" x2="23" y2="16"></line></svg>
                                    </a>
                                </div>
                                <ul id="notifications__list"></ul>
                                <div class="preloader hidden">
                                    <div id="pp_loader"><div class="speeding_wheel"></div></div>
                                </div>
                            </div>
                            <div class="clear"></div>
                        </div>
                    </li>
                    <?php if ($me['p_privacy'] == 0 || $me['p_privacy'] == 1) { ?>
                    
                        <li>
                            <div class="dropdown notifications-list" id="get-follow-requests">
                                <span class="dropdown-toggle pointer" data-toggle="dropdown">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-user-check"><path d="M16 21v-2a4 4 0 0 0-4-4H5a4 4 0 0 0-4 4v2"></path><circle cx="8.5" cy="7" r="4"></circle><line x1="20" y1="8" x2="20" y2="14"></line><line x1="23" y1="11" x2="17" y2="11"></line></svg>
                                    <small class="badge" id="new__notif_follow"></small>
                                </span>
                                <div class="dropdown-menu zoom">
                                    <div class="header">{{LANG follow_requests}}
                                        <a href="{{CONFIG site_url}}/settings/requests/{{ME username}}" data-ajax="ajax_loading.php?app=settings&apph=settings&user={{ME username}}&page=requests">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-user-check"><path d="M16 21v-2a4 4 0 0 0-4-4H5a4 4 0 0 0-4 4v2"></path><circle cx="8.5" cy="7" r="4"></circle><line x1="20" y1="8" x2="20" y2="14"></line><line x1="23" y1="11" x2="17" y2="11"></line></svg>
                                        </a>
                                    </div>
                                    <ul id="requests__list"></ul>
                                    <div class="preloader hidden">
                                        <div id="pp_loader"><div class="speeding_wheel"></div></div>
                                    </div>
                                </div>
                                <div class="clear"></div>
                            </div>
                        </li>
                    <?php } ?>
                    <?php if (IS_ADMIN) { ?>
                        <li class="hide_head_link" title="{{LANG admin_panel}}">
                            <a href="<?php echo(pxp_link('admin-panel')); ?>">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-layout"><rect x="3" y="3" width="18" height="18" rx="2" ry="2"></rect><line x1="3" y1="9" x2="21" y2="9"></line><line x1="9" y1="21" x2="9" y2="9"></line></svg>
                            </a>
                        </li>
                    <?php } ?>
                    <li class="hide_head_link <?php if($context['app_name'] == 'settings'){ ?>active<?php } ?>" id="avatar_active">
                        <a href="{{ME url}}" data-ajax="ajax_loading.php?app=profile&apph=profile&uname={{ME username}}">
                            <img src="{{ME avatar}}" width="24px" height="24px" class="img-circle">
                        </a>
                    </li>
                <?php } else{ ?>
                    <li>
                        <a href="<?php echo(pxp_link('welcome')); ?>">{{LANG login}}</a>
                    </li>
					<li>
                        <a href="<?php echo(pxp_link('signup')); ?>">{{LANG signup}}</a>
                    </li>
                <?php } ?>
            </ul>
        </div>
		
		<?php if (IS_LOGGED) { ?>
			<div id="second_header">
				<ul>
                <?php if ($context['app_name'] == 'home') { ?>
					<li class="pp_front_menu active">
                        <a href="{{CONFIG site_url}}">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="#66757f" class="feather feather-home"><defs xmlns="http://www.w3.org/2000/svg"><linearGradient x1="19.28%" y1="86.72%" x2="88.05%" y2="12.24%" id="sec_home"><stop stop-color="#5cb933" offset="0%"/><stop stop-color="#459522" offset="49.5%"/><stop stop-color="#41991a" offset="100%"/></linearGradient></defs><path d="M10,20V14H14V20H19V12H22L12,3L2,12H5V20H10Z" fill="url(#sec_home)"/></svg>
                        </a>
                    </li>
				<?php } else{ ?>
					<li class="pp_front_menu">
                        <a href="{{CONFIG site_url}}">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="#66757f" class="feather feather-home"><path d="M9,19V13H11L13,13H15V19H18V10.91L12,4.91L6,10.91V19H9M12,2.09L21.91,12H20V21H13V15H11V21H4V12H2.09L12,2.09Z" /></svg>
                        </a>
                    </li>
				<?php } ?>

                <?php if ($context['app_name'] == 'explore') { ?>
					<li class="pp_front_menu exp_menu active">
                        <a href="{{CONFIG site_url}}/explore">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="#66757f" class="feather feather-compass"><defs xmlns="http://www.w3.org/2000/svg"><linearGradient x1="19.28%" y1="86.72%" x2="88.05%" y2="12.24%" id="sec_explore"><stop stop-color="#3D3695" offset="0%"/><stop stop-color="#953594" offset="49.5%"/><stop stop-color="#DA2129" offset="100%"/></linearGradient></defs><path d="M12 10.9c-.61 0-1.1.49-1.1 1.1s.49 1.1 1.1 1.1c.61 0 1.1-.49 1.1-1.1s-.49-1.1-1.1-1.1zM12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm2.19 12.19L6 18l3.81-8.19L18 6l-3.81 8.19z" fill="url(#sec_explore)"/></svg>
						</a>
                    </li>
				<?php } else{ ?>
					<li class="pp_front_menu exp_menu">
                        <a href="{{CONFIG site_url}}/explore">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="#66757f" class="feather feather-compass"><path d="M7,17L10.2,10.2L17,7L13.8,13.8L7,17M12,11.1A0.9,0.9 0 0,0 11.1,12A0.9,0.9 0 0,0 12,12.9A0.9,0.9 0 0,0 12.9,12A0.9,0.9 0 0,0 12,11.1M12,2A10,10 0 0,1 22,12A10,10 0 0,1 12,22A10,10 0 0,1 2,12A10,10 0 0,1 12,2M12,4A8,8 0 0,0 4,12A8,8 0 0,0 12,20A8,8 0 0,0 20,12A8,8 0 0,0 12,4Z" /></svg>
                        </a>
                    </li>
				<?php } ?>
				 <?php if ($context['app_name'] == 'deals') { ?>
                    <li class="pp_front_menu exp_menu active" id="deals_nav">
                        <a href="{{CONFIG site_url}}/deals" data-ajax="ajax_loading.php?app=deals&apph=deals">
                            <img src="{{CONFIG site_url}}/media/img/store-active.png" width="18px" height="18px" alt="deals" style="vertical-align: sub;">
                        </a>
                    </li>
                    <?php } else{ ?>
                        <li class="pp_front_menu exp_menu" id="deals_nav">
                            <a href="{{CONFIG site_url}}/deals" data-ajax="ajax_loading.php?app=deals&apph=deals">
                              <img src="{{CONFIG site_url}}/media/img/store.png" width="18px" height="18px" alt="deals" style="vertical-align: sub;">
                            </a>
                        </li>
                    <?php } ?>	
				 <?php if ($context['app_name'] == 'properties') { ?>
                    <li class="pp_front_menu exp_menu active" id="properties_nav">
                        <a href="{{CONFIG site_url}}/properties" data-ajax="ajax_loading.php?app=properties&apph=properties">
                            <img src="{{CONFIG site_url}}/media/img/properties-active.png" width="18px" height="18px" alt="properties" style="vertical-align: sub;">
                        </a>
                    </li>
                    <?php } else{ ?>
                        <li class="pp_front_menu exp_menu" id="properties_nav">
                            <a href="{{CONFIG site_url}}/properties" data-ajax="ajax_loading.php?app=properties&apph=properties">
                              <img src="{{CONFIG site_url}}/media/img/properties.png" width="18px" height="18px" alt="properties" style="vertical-align: sub;">
                            </a>
                        </li>
                    <?php } ?>	
				<li class="msgz <?php if($context['app_name'] == 'messages'){ ?>active <?php } ?>">
					<a href="{{CONFIG site_url}}/messages" class="_messages">
						<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-message-square"><path d="M21 15a2 2 0 0 1-2 2H7l-4 4V5a2 2 0 0 1 2-2h14a2 2 0 0 1 2 2z"></path></svg>
						<small class="badge" id="new__messages_sec"></small>
					</a>
				</li>
				
				<?php if ($me['is_pro'] == 0 && $config['pro_system'] == 'on') { ?>
                <li class="pp_front_menu last_menu" id="go_pro_nav">
                    <a href="{{CONFIG site_url}}/go_pro" data-ajax="ajax_loading.php?app=go_pro&apph=go_pro">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" class="feather feather-compass" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><polygon points="13 2 3 14 12 14 11 22 21 10 12 10 13 2" style="color: #66757f"></polygon></svg>
                    </a>
                </li>
                <?php } ?>
				
				<?php if (IS_ADMIN) { ?>
					<li title="{{LANG admin_panel}}">
						<a href="<?php echo(pxp_link('admin-panel')) ?>">
							<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-layout"><rect x="3" y="3" width="18" height="18" rx="2" ry="2"></rect><line x1="3" y1="9" x2="21" y2="9"></line><line x1="9" y1="21" x2="9" y2="9"></line></svg>
						</a>
					</li>
				<?php } ?>
                    <li class="<?php if($context['app_name'] == 'settings'){ ?>active<?php } ?>">
                        <a href="{{ME url}}">
                            <img src="{{ME avatar}}" width="21px" height="21px" class="img-circle">
                        </a>
                    </li>
				</ul>
			</div>
		<?php } ?>
		
		
    </div>
    <div class="loadding-pgbar"><div class="bar"></div></div>
</nav>
<?php } ?>
<?php include $context['dirname_theme'].'/main/templates/js/h-script.html'; ?>