
	<div class="explore-page-container">
		<div class="sub__header">
			<div class="container">
				<div class="col-md-8">
					<h4 class="animated fadeInUpBig">Properties</h4>
					<p class="animated fadeInUpBig">Explore properties around you</p>
					<div class="col-md-6 col-xs-12" style="padding-left: 0px">
					<div class="pp_mat_input">
			          <input  type="text" name="search" id="search_location" value="<?php echo (isset($_GET['search'])?$_GET['search']:"") ?>"  placeholder="Search Locality" class="form-control">
						<span class="bar"></span>
		            </div>
						<style>
							::placeholder {color: white!important;opacity: 1;}:-ms-input-placeholder {color: white!important;}::-ms-input-placeholder {color: white!important;}
							.pp_mat_input input,.pp_mat_input input:focus{
							border-bottom: #fff 1px solid!important;
							color: #fff!important;
							}
						</style>
				</div>		
				</div>
				<div class="col-md-4 pp_exp_head_svg text-center hidden-xs hidden-sm">
					<img src="{{CONFIG site_url}}/media/img/property-page.png" alt="deals" width="130px" height="130px" style="vertical-align: sub; margin-right: 3px;">
				</div>
			</div>
		</div>
		<div class="pp_hero">
			<div class="w wave"></div>
			<div class="w wave2"></div>
			<div class="w wave3"></div>
			<div class="w wave4"></div>
		</div>		
		<div class="container">
			<div class="explore-posts-container">
				<?php if ($context['posts']) {
					foreach ($context['posts'] as $key => $post_data) {
						include 'includes/list.html';
					}
				} else{ 
					include 'includes/no-posts-found.html';
				} ?>
			</div>
		</div>
	</div>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB8Wm2IOByeafGEqgMNUcyC_8KmhFdgkjY&libraries=geometry,places"></script>
	<?php
	include $context['dirname_theme'].'/main/templates/modals/delete-post.html';
	include $context['dirname_theme'].'/main/templates/modals/embed_post.html';
	include $context['dirname_theme'].'/main/templates/includes/lazy-load.html';
	include $context['dirname_theme'].'/main/templates/modals/delete-comment.html';
?>

	<script>
		window.load_more = false;
		<?php if($context['load_more_post']=="yes"){ ?>
			window.load_more = true;
		<?php } ?>
		var myLazyLoad = new LazyLoad({
		    elements_selector: ".lazy_"
		});
		
		var gwidth = ($('.explore-posts-container').width() / 3);
		var config = {
			selector: '.item',
			gutter: 0,
			animate: true,
			animationOptions: { 
				speed: 100, 
				duration: 200
			}
		}
		
		if ($(window).width() > 992){
		    config.width = 303.34;
		};
		
		$(".explore-posts-container").gridalicious(config);
		
		jQuery(document).ready(function($) {
			var scrolled = 0;
			var last_id  = 0;

			$(window).scroll(function() {
			    if($(window).scrollTop() + $(window).height() > $(document).height() - 100) {
			    	if (scrolled == 0 && $('.explore-postset').length > 0&&window.load_more) {
		                scrolled = 1;
		                var list_ids = $("div.explore-postset[id]").map(function() {
			                return $(this).attr('id');
			            }).get();
						
			            if (!list_ids) {
			                return false;
			            }
			            
        				var last_id  = Math.max.apply(Math,list_ids);
						$.ajax({
							url: link('posts/explore-properties'),
							type: 'GET',
							dataType: 'json',
							data: {offset:last_id,search:$('#search_location').val()},
						}).done(function(data) {
							if (data.status == 200) {
								$(".explore-posts-container").gridalicious('append', $(data.html));
								scrolled = 0;
							}
							else{
								
								$(window).unbind('scroll');	
								}
							
						});	
			}
		       		}
			});
		$(document).on('keyup',"#search_location",function(){
				last_id = "";
				$.ajax({
							url: link('posts/explore-properties'),
							type: 'GET',
							dataType: 'json',
							data: {search:$('#search_location').val()},
						}).done(function(data) {
					            console.log(data.status);
				                $(".explore-posts-container").html('');
							if (data.status == 200) {
								$(".explore-posts-container").html(data.html);
//								scrolled = 0;
								$(".explore-posts-container").gridalicious(config);
							}
							else{
								var nopost =  '<h5 class="empty_state"><svg xmlns="http://www.w3.org/2000/svg" class="confetti" viewBox="0 0 1081 601"><path class="st0" d="M711.8 91.5c9.2 0 16.7-7.5 16.7-16.7s-7.5-16.7-16.7-16.7 -16.7 7.5-16.7 16.7C695.2 84 702.7 91.5 711.8 91.5zM711.8 64.1c5.9 0 10.7 4.8 10.7 10.7s-4.8 10.7-10.7 10.7 -10.7-4.8-10.7-10.7S705.9 64.1 711.8 64.1z"/><path class="st0" d="M74.5 108.3c9.2 0 16.7-7.5 16.7-16.7s-7.5-16.7-16.7-16.7 -16.7 7.5-16.7 16.7C57.9 100.9 65.3 108.3 74.5 108.3zM74.5 81c5.9 0 10.7 4.8 10.7 10.7 0 5.9-4.8 10.7-10.7 10.7s-10.7-4.8-10.7-10.7S68.6 81 74.5 81z"/><path class="st1" d="M303 146.1c9.2 0 16.7-7.5 16.7-16.7s-7.5-16.7-16.7-16.7 -16.7 7.5-16.7 16.7C286.4 138.6 293.8 146.1 303 146.1zM303 118.7c5.9 0 10.7 4.8 10.7 10.7 0 5.9-4.8 10.7-10.7 10.7s-10.7-4.8-10.7-10.7C292.3 123.5 297.1 118.7 303 118.7z"/><path class="st2" d="M243.4 347.4c9.2 0 16.7-7.5 16.7-16.7s-7.5-16.7-16.7-16.7 -16.7 7.5-16.7 16.7S234.2 347.4 243.4 347.4zM243.4 320c5.9 0 10.7 4.8 10.7 10.7 0 5.9-4.8 10.7-10.7 10.7s-10.7-4.8-10.7-10.7S237.5 320 243.4 320z"/><path class="st1" d="M809.8 542.3c9.2 0 16.7-7.5 16.7-16.7s-7.5-16.7-16.7-16.7 -16.7 7.5-16.7 16.7C793.2 534.8 800.7 542.3 809.8 542.3zM809.8 514.9c5.9 0 10.7 4.8 10.7 10.7s-4.8 10.7-10.7 10.7 -10.7-4.8-10.7-10.7S803.9 514.9 809.8 514.9z"/><path class="st3" d="M1060.5 548.3c9.2 0 16.7-7.5 16.7-16.7s-7.5-16.7-16.7-16.7 -16.7 7.5-16.7 16.7C1043.9 540.8 1051.4 548.3 1060.5 548.3zM1060.5 520.9c5.9 0 10.7 4.8 10.7 10.7s-4.8 10.7-10.7 10.7 -10.7-4.8-10.7-10.7S1054.6 520.9 1060.5 520.9z"/><path class="st3" d="M387.9 25.2l7.4-7.4c1.1-1.1 1.1-3 0-4.1s-3-1.1-4.1 0l-7.4 7.4 -7.4-7.4c-1.1-1.1-3-1.1-4.1 0s-1.1 3 0 4.1l7.4 7.4 -7.4 7.4c-1.1 1.1-1.1 3 0 4.1s3 1.1 4.1 0l7.4-7.4 7.4 7.4c1.1 1.1 3 1.1 4.1 0s1.1-3 0-4.1L387.9 25.2z"/><path class="st3" d="M368.3 498.6l7.4-7.4c1.1-1.1 1.1-3 0-4.1s-3-1.1-4.1 0l-7.4 7.4 -7.4-7.4c-1.1-1.1-3-1.1-4.1 0s-1.1 3 0 4.1l7.4 7.4 -7.4 7.4c-1.1 1.1-1.1 3 0 4.1s3 1.1 4.1 0l7.4-7.4 7.4 7.4c1.1 1.1 3 1.1 4.1 0s1.1-3 0-4.1L368.3 498.6z"/><path class="st3" d="M16.4 270.2l7.4-7.4c1.1-1.1 1.1-3 0-4.1s-3-1.1-4.1 0l-7.4 7.4 -7.4-7.4c-1.1-1.1-3-1.1-4.1 0s-1.1 3 0 4.1l7.4 7.4 -7.4 7.4c-1.1 1.1-1.1 3 0 4.1s3 1.1 4.1 0l7.4-7.4 7.4 7.4c1.1 1.1 3 1.1 4.1 0s1.1-3 0-4.1L16.4 270.2z"/><path class="st2" d="M824.7 351.1l7.4-7.4c1.1-1.1 1.1-3 0-4.1s-3-1.1-4.1 0l-7.4 7.4 -7.4-7.4c-1.1-1.1-3-1.1-4.1 0s-1.1 3 0 4.1l7.4 7.4 -7.4 7.4c-1.1 1.1-1.1 3 0 4.1s3 1.1 4.1 0l7.4-7.4 7.4 7.4c1.1 1.1 3 1.1 4.1 0s1.1-3 0-4.1L824.7 351.1z"/><path class="st1" d="M146.3 573.6H138v-8.3c0-1.3-1-2.3-2.3-2.3s-2.3 1-2.3 2.3v8.3h-8.3c-1.3 0-2.3 1-2.3 2.3s1 2.3 2.3 2.3h8.3v8.3c0 1.3 1 2.3 2.3 2.3s2.3-1 2.3-2.3v-8.3h8.3c1.3 0 2.3-1 2.3-2.3S147.6 573.6 146.3 573.6z"/><path class="st1" d="M1005.6 76.3h-8.3V68c0-1.3-1-2.3-2.3-2.3s-2.3 1-2.3 2.3v8.3h-8.3c-1.3 0-2.3 1-2.3 2.3s1 2.3 2.3 2.3h8.3v8.3c0 1.3 1 2.3 2.3 2.3s2.3-1 2.3-2.3v-8.3h8.3c1.3 0 2.3-1 2.3-2.3S1006.8 76.3 1005.6 76.3z"/><path class="st1" d="M95.5 251.6c-3.5 0-6.3 2.8-6.3 6.3 0 3.5 2.8 6.3 6.3 6.3s6.3-2.8 6.3-6.3S99 251.6 95.5 251.6z"/><path class="st0" d="M1032 281.8c-3.5 0-6.3 2.8-6.3 6.3s2.8 6.3 6.3 6.3 6.3-2.8 6.3-6.3S1035.5 281.8 1032 281.8z"/><path class="st2" d="M741.6 139.3c-3.5 0-6.3 2.8-6.3 6.3s2.8 6.3 6.3 6.3 6.3-2.8 6.3-6.3S745 139.3 741.6 139.3z"/><path class="st3" d="M890.7 43.5c3.3 0 6-2.7 6-6s-2.7-6-6-6 -6 2.7-6 6C884.8 40.8 887.4 43.5 890.7 43.5z"/><path class="st0" d="M164.3 537.6c3.3 0 6-2.7 6-6s-2.7-6-6-6 -6 2.7-6 6C158.4 535 161 537.6 164.3 537.6z"/></svg><svg xmlns="http://www.w3.org/2000/svg" fill="#607D8B" width="24" height="24" viewBox="0 0 24 24" class="feather feather-media"><path d="M22,16V4A2,2 0 0,0 20,2H8A2,2 0 0,0 6,4V16A2,2 0 0,0 8,18H20A2,2 0 0,0 22,16M11,12L13.03,14.71L16,11L20,16H8M2,6V20A2,2 0 0,0 4,22H18V20H4V6" /></svg> {{LANG no_posted_yet}}</h5>';
								$(".explore-posts-container").html(nopost).addClass('nopost');
							}
						});	
		})
			$(document).ready(function(){
				
				 <?php if($_GET['post-id']){ ?>
		lightbox('<?php echo($_GET['post-id']); ?>','<?php echo($context['app_name']) ?>');	
		<?php } ?>
				$('#follow__suggestions-cr').slick({
				infinite: false,
				lazyLoad: 'ondemand',
				slidesToShow: 5,
				variableWidth: false,
				slidesToScroll: 1,
				autoplay: false,
				autoplaySpeed: 2000,
				responsive: [
					{
						breakpoint: 1024,
						settings: {
							slidesToShow: 4
						}
					},
					{
						breakpoint: 800,
						settings: {
							slidesToShow: 3
						}
					},
					{
						breakpoint: 600,
						settings: {
							slidesToShow: 2
						}
					},
					{
						breakpoint: 300,
						settings: {
							slidesToShow: 1
						}
					}
				]
				});
			});
		});
	</script>