<div class="item wrapper lazy_" data-post-id="<?php echo($post_data['post_id']) ?>">

	<div class="explore-postset" id="<?php echo($post_data['distance']) ?>" style="position: relative;">
		<?php if ($post_data['type'] == 'video') { 
			if ($post_data['is_should_hide']) {	?>
			<div class="is_should_hide show_m_reprted-<?php echo($post_data['post_id']) ?>">
					<img src="<?php echo(media($post_data['thumb'])) ?>" width="100%" height="100%">
			</div>
			<div class="is_should_hide1 text_m_reprted-<?php echo($post_data['post_id']) ?>">
				<div class="is_should_hide2">
					<p class="is_should_hide3">{{LANG post_m_report}}</p>
					<div class="is_should_hide4">
						<a class="is_should_hide5" href="javascript:void(0);" onclick="show_m_reprted(<?php echo($post_data['post_id']) ?>)">{{LANG click_to_see}}</a>
					</div>
				</div>
			</div>
		<?php } } ?>
		<div class="image" onclick="lightbox('<?php echo($post_data['post_id']) ?>','<?php echo($context['app_name']) ?>');" style="background-image: url('<?php echo(media($post_data['thumb'])) ?>');">
			<?php if ($post_data['type'] != 'image' && $post_data['type'] != 'gif' && $post_data['type'] != 'fetched') { ?>
				<span class="category">
					<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" class="feather feather-video"><path d="M17,10.5V7A1,1 0 0,0 16,6H4A1,1 0 0,0 3,7V17A1,1 0 0,0 4,18H16A1,1 0 0,0 17,17V13.5L21,17.5V6.5L17,10.5Z" /></svg>
				</span>
				<span class="play-btn">
					<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" class="feather feather-play"><path d="M8,5.14V19.14L19,12.14L8,5.14Z" /></svg>
				</span>
			<?php } ?>
			<div class="caption">
				<?php if ($post_data['boosted'] == 1 && $context['is_boosted'] == false) { ?>
				<!-- <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="#ffeac9" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-award" data-toggle="tooltip" title="Promoted" color="#ffa412" style="position: absolute;top: 10;"><circle cx="12" cy="8" r="7"></circle><polyline points="8.21 13.89 7 23 12 20 17 23 15.79 13.88"></polyline></svg> -->
				<?php $context['is_boosted'] = true; } ?>
				<div>
					<div class="user__">
						<img src="<?php echo(media($post_data['avatar'])) ?>" class="img-circle">
						<a href="<?php echo(un2url($post_data['username'])) ?>" class="publisher-name"><?php echo($post_data['username']) ?></a>
						<span><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-heart"><path d="M20.84 4.61a5.5 5.5 0 0 0-7.78 0L12 5.67l-1.06-1.06a5.5 5.5 0 0 0-7.78 7.78l1.06 1.06L12 21.23l7.78-7.78 1.06-1.06a5.5 5.5 0 0 0 0-7.78z"></path></svg> <?php echo($post_data['likes']) ?></span>
						<span><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-message-circle"><path d="M21 11.5a8.38 8.38 0 0 1-.9 3.8 8.5 8.5 0 0 1-7.6 4.7 8.38 8.38 0 0 1-3.8-.9L3 21l1.9-5.7a8.38 8.38 0 0 1-.9-3.8 8.5 8.5 0 0 1 4.7-7.6 8.38 8.38 0 0 1 3.8-.9h.5a8.48 8.48 0 0 1 8 8v.5z"></path></svg> <?php echo($post_data['comments']) ?></span>
					</div>

				</div>
			</div>
		</div>
	</div>
</div>