<div class="item wrapper lazy_" data-post-id="<?php echo($post_data['post_id']) ?>">
  <div class="explore-postset" id="<?php echo($post_data['num']) ?>" style="position: relative;">
    <div class="image" onclick="lightbox('<?php echo($post_data['post_id']) ?>','<?php echo($context['app_name']) ?>');" style="background-image: url('<?php echo(media($post_data['thumb'])) ?>');">
      <?php if ($post_data['type'] != 'image' && $post_data['type'] != 'gif' && $post_data['type'] != 'fetched') { ?>
      <span class="category">
      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" class="feather feather-video">
        <path d="M17,10.5V7A1,1 0 0,0 16,6H4A1,1 0 0,0 3,7V17A1,1 0 0,0 4,18H16A1,1 0 0,0 17,17V13.5L21,17.5V6.5L17,10.5Z" />
      </svg>
      </span> <span class="play-btn">
      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" class="feather feather-play">
        <path d="M8,5.14V19.14L19,12.14L8,5.14Z" />
      </svg>
      </span>
      <?php } ?>
      <div class="caption">
        <div>
          <div class="user__"> <img src="<?php echo(media($post_data['avatar'])) ?>" class="img-circle"> <a href="<?php echo(un2url($post_data['username'])) ?>" class="publisher-name"><?php echo($post_data['username']) ?></a> <span>&nbsp;
            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Capa_1" x="0px" y="0px" width="20px" height="20px" viewBox="0 0 896.901 896.9" style="enable-background:new 0 0 896.901 896.9;" xml:space="preserve"><g><g><circle cx="448.84" cy="506.199" r="46"/><path d="M313.14,392.5l61.1,59.1c19.7-20.4,46.2-31.7,74.601-31.7c27.7,0,53.799,10.8,73.399,30.401L582.34,390.2    c-35.701-35.7-83.102-55.3-133.5-55.3C397.239,334.9,349.04,355.3,313.14,392.5z"/><path d="M448.84,291.9c61.5,0,119.399,23.8,163.1,67.1l59.799-60.399c-59.699-59.2-138.898-91.7-222.899-91.7    c-42.7,0-84.2,8.4-123.3,24.9c-37.7,16-71.601,38.8-100.7,67.9l60.1,60.101C328.739,316,386.939,291.9,448.84,291.9z"/><path d="M122.14,485.6c36,107.701,121.9,265.1,326.5,411.301c204.599-146.301,290.4-303.6,326.4-411.301    c16.301-40,25.4-83.6,25.801-129.299c0.1-2.101-0.201-3.4-0.201-3.7c0,0,0,0,0-0.101c0-194.7-157.6-352.5-352.2-352.5    c-194.7,0-352.4,157.8-352.4,352.5c0,0,0,1.301,0.1,3.801C96.64,402,105.84,445.6,122.14,485.6z M448.64,86.9    c150,0,271.599,121.6,271.599,271.6c0,150-121.6,271.6-271.599,271.6c-150,0-271.6-121.6-271.6-271.6    C177.04,208.5,298.64,86.9,448.64,86.9z"/></g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g></svg><?php echo($post_data['distance']) ?></span></div>
        </div>
      </div>
    </div>
  </div>
</div>
