<div class="item wrapper lazy_" data-post-id="<?php echo($post_data['post_id']) ?>">
	
	<div class="user-postset" id="<?php echo $post_data['post_id']; ?>" style="position: relative;">
		<?php if ($post_data['type'] == 'video') { 
			if ($post_data['is_should_hide']) {	?>
			<div class="is_should_hide show_m_reprted-<?php echo($post_data['post_id']) ?>">
					<img src="<?php echo(media($post_data['thumb'])) ?>" width="100%" height="100%">
			</div>
			<div class="is_should_hide1 text_m_reprted-<?php echo($post_data['post_id']) ?>">
				<div class="is_should_hide2">
					<p class="is_should_hide3">{{LANG post_m_report}}</p>
					<div class="is_should_hide4">
						<a class="is_should_hide5" href="javascript:void(0);" onclick="show_m_reprted(<?php echo($post_data['post_id']) ?>)">{{LANG click_to_see}}</a>
					</div>
				</div>
			</div>
		<?php } } ?>
		<?php  if((isset($_GET['webview_type'])&&$_GET['webview_type']=="app")||(isset($_POST['webview_type'])&&$_POST['webview_type']=="app")){ ?>
		<div class="media"  onclick="go_to_post('<?php echo $post_data['post_id']; ?>','<?php echo $context['page']; ?>');" style="background-image: url('<?php echo media($post_data['thumb']); ?>');">
		<?php }else{ ?>
		<div class="media"  onclick="lightbox('<?php echo $post_data['post_id']; ?>','<?php echo $context['page']; ?>');" style="background-image: url('<?php echo media($post_data['thumb']); ?>');">
			<?php } ?>
			<div class="caption">
				<span><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-heart"><path d="M20.84 4.61a5.5 5.5 0 0 0-7.78 0L12 5.67l-1.06-1.06a5.5 5.5 0 0 0-7.78 7.78l1.06 1.06L12 21.23l7.78-7.78 1.06-1.06a5.5 5.5 0 0 0 0-7.78z"></path></svg> <?php echo $post_data['likes']; ?></span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
				<span><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-message-circle"><path d="M21 11.5a8.38 8.38 0 0 1-.9 3.8 8.5 8.5 0 0 1-7.6 4.7 8.38 8.38 0 0 1-3.8-.9L3 21l1.9-5.7a8.38 8.38 0 0 1-.9-3.8 8.5 8.5 0 0 1 4.7-7.6 8.38 8.38 0 0 1 3.8-.9h.5a8.48 8.48 0 0 1 8 8v.5z"></path></svg> <?php echo $post_data['comments']; ?></span>
			</div>
			<?php if ($post_data['type'] != 'image' && $post_data['type'] != 'gif' && $post_data['type'] != 'fetched') { ?>
				<span class="category">
					<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" class="feather feather-video"><path d="M17,10.5V7A1,1 0 0,0 16,6H4A1,1 0 0,0 3,7V17A1,1 0 0,0 4,18H16A1,1 0 0,0 17,17V13.5L21,17.5V6.5L17,10.5Z"></path></svg>
				</span>
			<?php } ?>
		</div>
	</div>
</div>