<div class="affiliates-active">
	<div class="header">
		<h4>{{LANG interests}}</h4>
		<div class="clear"></div>
	</div>
	<hr>
	<?php $context['me']['hobby'] = explode(',',$context['me']['hobby']);?>
	<form class="form row pp_sett_form" id="edit-interests-settings">
		<div class="col-md-2"></div>
		<div class="col-md-8">
		<div class="pp_mat_select">
			<label class="pp_mat_label">Do you smoke?</label>
			<div>
			<select type="text" name="hobby[]" class="form-control" value="<?php echo($context['me']['hobby'][0]) ?>">
				<option value="">Select one</option>
				<option value="smoke">Yes, I do.</option>
				<option value="nosmoke">No, I don't.</option>
			</select>
			</div>	
			<span class="bar"></span>
		</div>
		<div class="pp_mat_select">
			<label class="pp_mat_label">Are you an introvert or an extrovert?</label>
			<div>
			<select type="text" name="hobby[]" class="form-control" value="<?php echo($context['me']['hobby'][1]) ?>">
				<option value="">Select one</option>
				<option value="introvert">Introvert</option>
				<option value="extrovert">Extrovert</option>
			</select>
			</div>	
			<span class="bar"></span>
		</div>
		<div class="pp_mat_select">
			<label class="pp_mat_label">Do you have pets?</label>
			<div>
			<select type="text" name="hobby[]" class="form-control" value="<?php echo($context['me']['hobby'][2]) ?>">
				<option value="">Select one</option>
				<option value="pet">Yes, I do have.</option>
				<option value="nopet">No, I don't have.</option>
			</select>
			</div>	
			<span class="bar"></span>
		</div>
		<div class="pp_mat_select">
			<label class="pp_mat_label">Are you employed?</label>
			<div>
			<select type="text" name="hobby[]" class="form-control" value="<?php echo($context['me']['hobby'][3]) ?>">
				<option value="">Select one</option>
				<option value="employed">Yes, I am.</option>
				<option value="unemployed">No, I am not.</option>
			</select>
			</div>	
			<span class="bar"></span>
		</div>
		<div class="pp_mat_select">
			<label class="pp_mat_label">Would you consider yourself a organized, somewhat organized, or not organized at all?</label>
			<div>
			<select type="text" name="hobby[]" class="form-control" value="<?php echo($context['me']['hobby'][4]) ?>">
				<option value="">Select one</option>
				<option value="organized">I am organized</option>
				<option value="somewhatorganized">I am somewhat organized</option>
				<option value="notorganized">I am not organized</option>
			</select>
			</div>	
			<span class="bar"></span>
		</div>
		<div class="pp_mat_select">
			<label class="pp_mat_label">Are you married or engaged?</label>
			<div>
			<select type="text" name="hobby[]" class="form-control" value="<?php echo($context['me']['hobby'][5]) ?>">
				<option value="">Select one</option>
				<option value="married">Yes, I am</option>
				<option value="notmarried">No, I am not</option>
			</select>
			</div>	
			<span class="bar"></span>
		</div>
		<div class="pp_mat_select">
			<label class="pp_mat_label">Do you have children?</label>
			<div>
			<select type="text" name="hobby[]" class="form-control" value="<?php echo($context['me']['hobby'][6]) ?>">
				<option value="">Select one</option>
				<option value="child">Yes, I have</option>
				<option value="nochild">No, I don't have</option>
			</select>
			</div>	
			<span class="bar"></span>
		</div>
		<div class="pp_mat_select">
			<label class="pp_mat_label">Do you prefer eating out or eating at home?</label>
			<div>
			<select type="text" name="hobby[]" class="form-control" value="<?php echo($context['me']['hobby'][7]) ?>">
				<option value="">Select one</option>
				<option value="eatout">I prefer eating out</option>
				<option value="eathome">I prefer eating at home</option>
			</select>
			</div>	
			<span class="bar"></span>
		</div>
		<div class="pp_mat_select">
			<label class="pp_mat_label">Would you consider yourself a loud person or a quiet person?</label>
			<div>
			<select type="text" name="hobby[]" class="form-control" value="<?php echo($context['me']['hobby'][8]) ?>">
				<option value="">Select one</option>
				<option value="loud">I am loud person</option>
				<option value="moderate">I am moderate</option>
				<option value="quite">I am quite person</option>
			</select>
			</div>	
			<span class="bar"></span>
		</div>
		<div class="pp_mat_select">
			<label class="pp_mat_label">Do require any special accommodations(handicap, hearing impaired, visually impaired)?</label>
			<div>
			<select type="text" name="hobby[]" class="form-control" value="<?php echo($context['me']['hobby'][9]) ?>">
				<option value="">Select one</option>
				<option value="physical">Yes, I am physically challeged</option>
				<option value="hearing">Yes, I have hearing problem</option>
				<option value="visually">Yes, I am Visually impaired</option>
				<option value="notchallenged">No, Not required</option>
			</select>
			</div>	
			<span class="bar"></span>
		</div>
		<!--<?php if ($context['user']['admin'] == 1 || $context['me']['is_pro']) { ?>
		<div class="pp_mat_select">
			<label class="pp_mat_label">{{LANG profile_style}}</label>
			<div>
				<select name="profile" class="form-control" required="true">
					<option value="1" <?php if($context['me']['profile'] == 1){ ?> selected <?php } ?>>
						{{LANG default_profile}}
					</option>
					<option value="2" <?php if($context['me']['profile'] == 2){ ?> selected <?php } ?>>
						{{LANG new_profile}}
					</option>
				</select>
				<span class="bar"></span>
			</div>
			<div class="clear"></div>
		</div>
		<?php } ?>-->

		<?php if ($context['me']['business_account'] == 1 && $config['business_account'] == 'on') { ?>
			
		
		<br>
		<br>
		<br>
		<div class="pp_mat_input">
			<input type="url2" name="b_name" class="form-control" value="<?php echo($context['me']['b_name']) ?>">
			<span class="bar"></span>
			<label>{{LANG business_name}}</label>
		</div>
		<div class="pp_mat_input">
			<input type="url2" name="b_email" class="form-control" value="<?php echo($context['me']['b_email']) ?>">
			<span class="bar"></span>
			<label>{{LANG email}}</label>
		</div>
		<div class="pp_mat_input">
			<input type="url2" name="b_phone" class="form-control" value="<?php echo($context['me']['b_phone']) ?>">
			<span class="bar"></span>
			<label>{{LANG phone_number}}</label>
		</div>
		<div class="pp_mat_input">
			<input type="url2" name="b_site" class="form-control" value="<?php echo($context['me']['b_site']) ?>">
			<span class="bar"></span>
			<label>{{LANG call_to_target_url}}</label>
		</div>
		<div class="pp_mat_select">
			<label class="pp_mat_label">{{LANG call_to_action}}</label>
			<div>
				<select name="b_site_action" class="form-control" required="true">
					<?php foreach ($context['call_action'] as $cid => $cname) { ?>
						<option value="<?php echo($cid) ?>" <?php if($context['me']['b_site_action'] == $cid){ ?> selected <?php } ?>>
							<?php echo lang($cname); ?>
						</option>
					<?php } ?>
				</select>
				<span class="bar"></span>
			</div>
			<div class="clear"></div>
		</div>
		<?php } ?>
		<div class="pp_load_loader"><button class="btn btn-info pp_flat_btn" type="submit"><span>{{LANG save_changes}}</span></button></div>
		<input type="hidden" name="user_id" value="<?php echo($context['me']['user_id']) ?>">
		<input type="hidden" name="hash" value="<?php echo($context['csrf_token']) ?>">
		</div>
		<div class="col-md-2"></div>
	</form>
</div>

<?php 
include $context['dirname_theme'].'/main/templates/includes/lazy-load.html';
include $context['dirname_theme'].'/settings/templates/settings/js/script.html';
 ?>