<div class="prof-active">
	<div class="header">
		<h4>{{LANG profile_settings}}</h4>
		<div class="clear"></div>
	</div>
	<hr>
	<form class="form row pp_sett_form" id="edit-profile-settings">
		<div class="col-md-2"></div>
		<div class="col-md-8">
		<div class="pp_mat_input pp_mat_input_50">
			<input type="text" name="fname" class="form-control" value="<?php echo($context['me']['fname']) ?>">
			<span class="bar"></span>
			<label>{{LANG fname}}</label>
		</div>
		<div class="pp_mat_input pp_mat_input_50">
			<input type="text" name="lname" class="form-control" value="<?php echo($context['me']['lname']) ?>">
			<span class="bar"></span>
			<label>{{LANG lname}}</label>
		</div>
		<div class="pp_mat_input">
			<input type="url2" name="website" class="form-control" value="<?php echo($context['me']['website']) ?>">
			<span class="bar"></span>
			<label>{{LANG website}}</label>
		</div>
		<div class="pp_mat_input">
			<input type="url2" name="facebook" class="form-control" value="<?php echo($context['me']['facebook']) ?>">
			<span class="bar"></span>
			<label>{{LANG ur_facebook}}</label>
		</div>
		<div class="pp_mat_input">
			<input type="url2" name="google" class="form-control" value="<?php echo($context['me']['google']) ?>">
			<span class="bar"></span>
			<label>{{LANG ur_google}}</label>
		</div>
		<div class="pp_mat_input">
			<input type="url2" name="twitter" class="form-control" value="<?php echo($context['me']['twitter']) ?>">
			<span class="bar"></span>
			<label>{{LANG ur_twitter}}</label>
		</div>
		<div class="pp_mat_input">
			<textarea class="form-control" name="about" rows="3"><?php if($context['me']['about']){ echo br2nl($context['me']['about']) ; } ?></textarea>
			<span class="bar"></span>
			<label>{{LANG about_u}}</label>
		</div>
		<!--<?php if ($context['user']['admin'] == 1 || $context['me']['is_pro']) { ?>
		<div class="pp_mat_select">
			<label class="pp_mat_label">{{LANG profile_style}}</label>
			<div>
				<select name="profile" class="form-control" required="true">
					<option value="1" <?php if($context['me']['profile'] == 1){ ?> selected <?php } ?>>
						{{LANG default_profile}}
					</option>
					<option value="2" <?php if($context['me']['profile'] == 2){ ?> selected <?php } ?>>
						{{LANG new_profile}}
					</option>
				</select>
				<span class="bar"></span>
			</div>
			<div class="clear"></div>
		</div>
		<?php } ?>-->

		<?php if ($context['me']['business_account'] == 1 && $config['business_account'] == 'on') { ?>
			
		
		<br>
		<br>
		<br>
		<div class="pp_mat_input">
			<input type="url2" name="b_name" class="form-control" value="<?php echo($context['me']['b_name']) ?>">
			<span class="bar"></span>
			<label>{{LANG business_name}}</label>
		</div>
		<div class="pp_mat_input">
			<input type="url2" name="b_email" class="form-control" value="<?php echo($context['me']['b_email']) ?>">
			<span class="bar"></span>
			<label>{{LANG email}}</label>
		</div>
		<div class="pp_mat_input">
			<input type="url2" name="b_phone" class="form-control" value="<?php echo($context['me']['b_phone']) ?>">
			<span class="bar"></span>
			<label>{{LANG phone_number}}</label>
		</div>
		<div class="pp_mat_input">
			<input type="url2" name="b_site" class="form-control" value="<?php echo($context['me']['b_site']) ?>">
			<span class="bar"></span>
			<label>{{LANG call_to_target_url}}</label>
		</div>
		<div class="pp_mat_select">
			<label class="pp_mat_label">{{LANG call_to_action}}</label>
			<div>
				<select name="b_site_action" class="form-control" required="true">
					<?php foreach ($context['call_action'] as $cid => $cname) { ?>
						<option value="<?php echo($cid) ?>" <?php if($context['me']['b_site_action'] == $cid){ ?> selected <?php } ?>>
							<?php echo lang($cname); ?>
						</option>
					<?php } ?>
				</select>
				<span class="bar"></span>
			</div>
			<div class="clear"></div>
		</div>
		<?php } ?>
		<div class="pp_load_loader"><button class="btn btn-info pp_flat_btn" type="submit"><span>{{LANG save_changes}}</span></button></div>
		<input type="hidden" name="user_id" value="<?php echo($context['me']['user_id']) ?>">
		<input type="hidden" name="hash" value="<?php echo($context['csrf_token']) ?>">
		</div>
		<div class="col-md-2"></div>
	</form>
</div>

<?php 
include $context['dirname_theme'].'/main/templates/includes/lazy-load.html';
include $context['dirname_theme'].'/settings/templates/settings/js/script.html';
 ?>